openapi: 3.0.3
info:
  title: CaseXchange Public API
  version: 1.0.0
  description: |-
    The CaseXchange Public API enables law firms to integrate referral management
    directly into their own systems.

    ## Authentication
    All requests must include an `X-API-Key` header containing a valid API key
    (format: `cxp_<hex>`). Keys are scoped to a firm and an access tier.

    ## Access Tiers
    | Tier | Description |
    |------|-------------|
    | `read_only` | GET endpoints — read data without mutation |
    | `standard` | read_only + create/update case referrals |
    | `full` | standard + delete, routing rules, bulk import, firm mutation |

    ## Rate Limiting
    Rate limits are enforced per API key. Exceeded limits return `429 Too Many Requests`.

    ## Pagination
    List endpoints accept `page` (default 1) and `limit` (default 20, max 100) query params.

    ## Response Format
    Successful responses are wrapped in `{ data: T, meta: { requestId, timestamp } }`.
    Errors are wrapped in `{ error: { code, message }, meta: { requestId, timestamp } }`.
  contact:
    name: CaseXchange API Support
    url: https://casexchange.com
servers:
  - url: https://api.casexchange.com/api/public/v1
    description: Production Public API base path
  - url: /api/public/v1
    description: Relative base path (for proxied docs/local environments)
tags:
  - name: Reference Data
    description: Case types, jurisdictions, and counties
  - name: Firms
    description: Firm directory and profile management
  - name: Cases
    description: Case referral lifecycle and actions
  - name: Sent Cases
    description: "Sender-side case management: create, track, and refer/route cases you own"
  - name: Documents
    description: Document upload, download, and management
  - name: Users
    description: User management within the caller's firm
  - name: Routing
    description: Referral routing rules
  - name: Analytics
    description: Dashboard and case analytics
  - name: Notifications
    description: Notification preferences and email management
  - name: Med Cases
    description: Med Xchange cases and their nested referrals to medical providers
  - name: MedEx Documents
    description: Med Xchange case document listing and download
  - name: Import
    description: Bulk case import/update via CSV
  - name: Salesforce
    description: Org-facing endpoints consumed by the CaseXchange managed package
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Public API key (starts with cxp_). Required on every request.
  schemas:
    Firm:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        phone:
          type: string
          nullable: true
        address:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        state:
          type: string
          nullable: true
        zip:
          type: string
          nullable: true
        website:
          type: string
          format: uri
          nullable: true
        isInternal:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    CaseType:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        displayName:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
    Case:
      type: object
      properties:
        id:
          type: string
          format: uuid
        referenceNumber:
          type: string
          example: ABC-0001
        title:
          type: string
        description:
          type: string
          nullable: true
        status:
          type: string
          description: CaseStatus enum value
        caseType:
          type: string
        jurisdiction:
          type: string
        county:
          type: string
          nullable: true
        clientFirstName:
          type: string
        clientLastName:
          type: string
        clientEmail:
          type: string
          format: email
          nullable: true
        clientPhone:
          type: string
          nullable: true
        incidentDate:
          type: string
          format: date
          nullable: true
        notes:
          type: string
          nullable: true
        sendingFirmId:
          type: string
          format: uuid
        receivingFirmId:
          type: string
          format: uuid
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    Document:
      type: object
      properties:
        id:
          type: string
          format: uuid
        caseId:
          type: string
          format: uuid
        fileName:
          type: string
        mimeType:
          type: string
        sizeBytes:
          type: integer
        uploadedBy:
          type: string
        createdAt:
          type: string
          format: date-time
    MedCaseDocument:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Document handle (MedCaseDocument junction id)
        fileName:
          type: string
        contentType:
          type: string
        fileSize:
          type: integer
          description: Raw byte size
        category:
          type: string
        source:
          type: string
          enum:
            - upload
            - litify_sync
            - premier_sync
        uploadedAt:
          type: string
          format: date-time
        pending:
          type: boolean
          description: If true, bytes are not yet materialized; first fetch may be slower.
        sharedWithProviders:
          type: boolean
          description: >-
            Whether providers on the case can currently see this document. Provider-scoped keys never receive hidden
            documents, so this is always true for them; firm-scoped keys see hidden documents flagged false.
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        firstName:
          type: string
        lastName:
          type: string
        role:
          type: string
          description: UserRole enum value
        isActive:
          type: boolean
        firmId:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
    RoutingRule:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        conditions:
          type: array
          items:
            type: object
        targetFirmId:
          type: string
          format: uuid
        priority:
          type: integer
        isActive:
          type: boolean
        firmId:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    SentCase:
      type: object
      description: A case from the sender (owning firm) perspective, with all of its referrals.
      properties:
        id:
          type: string
          format: uuid
        referenceNumber:
          type: string
          nullable: true
          example: ABC-0001
        salesforceId:
          type: string
          nullable: true
        salesforceObjectType:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        caseType:
          type: string
          nullable: true
        jurisdiction:
          type: string
          nullable: true
        county:
          type: string
          nullable: true
        clientFirstName:
          type: string
          nullable: true
        clientLastName:
          type: string
          nullable: true
        clientEmail:
          type: string
          format: email
          nullable: true
        clientPhone:
          type: string
          nullable: true
        clientDateOfBirth:
          type: string
          format: date
          nullable: true
        incidentDate:
          type: string
          format: date
          nullable: true
        tier:
          type: integer
          nullable: true
        source:
          type: string
          nullable: true
        status:
          type: string
          description: CaseStatus enum value
        closingStatus:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        referrals:
          type: array
          description: All referrals on this case, most recent first.
          items:
            type: object
    SentCaseListItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        referenceNumber:
          type: string
          nullable: true
        salesforceId:
          type: string
          nullable: true
        receivingFirmName:
          type: string
          nullable: true
        receivingFirmId:
          type: string
          format: uuid
          nullable: true
        status:
          type: string
          description: CaseStatus enum value
        closingStatus:
          type: string
          nullable: true
        updatedAt:
          type: string
          format: date-time
    RoutingEvaluation:
      type: object
      nullable: true
      description: The routing decision for a case profile, or null when no active rule matches.
      properties:
        rule:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
        selectedFirmId:
          type: string
          format: uuid
          nullable: true
          description: >-
            The firm the round-robin pointer currently selects — send here. Null when the pick is an external-contact
            assignment (no CaseXchange firm).
        roundRobinPosition:
          type: integer
          description: >-
            Opaque echo token — pass this back unchanged as roundRobinPosition (with rule.id as routingRuleId) into POST
            /sent-cases or POST /sent-cases/{id}/refer to advance the rule's round-robin pointer server-side. It is NOT
            an index into the assignments array returned here; to find the rotation's pick, use assignments[0] or match
            selectedFirmId.
        assignments:
          type: array
          description: >-
            All active assignments for the matched rule, ordered starting at the round-robin selection (then the rest of
            the configured order, wrapping). assignments[0] is always the rotation's pick — the same firm as
            selectedFirmId when the pick is a CaseXchange firm. When the pick is an external-contact assignment,
            assignments[0].firmId (and selectedFirmId) are null — callers that send to assignments[0] must treat a null
            firmId as "no auto-routable firm" and fall back to manual selection. The order changes between calls as the
            pointer advances; do not rely on positional stability except that index 0 is the current pick.
          items:
            type: object
            properties:
              firmId:
                type: string
                format: uuid
                nullable: true
              firmName:
                type: string
                nullable: true
              referralInstructions:
                type: string
                nullable: true
    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer
    MedCase:
      type: object
      properties:
        id:
          type: string
          format: uuid
        referenceNumber:
          type: string
          nullable: true
        patientFirstName:
          type: string
          nullable: true
        patientLastName:
          type: string
          nullable: true
        patientEmail:
          type: string
          format: email
          nullable: true
        patientPhone:
          type: string
          nullable: true
        patientDateOfBirth:
          type: string
          format: date
          nullable: true
        patientZipCode:
          type: string
          nullable: true
        handlingFirmId:
          type: string
          format: uuid
          nullable: true
        attorneyName:
          type: string
          nullable: true
        attorneyPhone:
          type: string
          nullable: true
        attorneyEmail:
          type: string
          format: email
          nullable: true
        description:
          type: string
          nullable: true
        incidentDate:
          type: string
          format: date
          nullable: true
        caseType:
          type: string
          nullable: true
        jurisdiction:
          type: string
          nullable: true
        createdByFirmId:
          type: string
          format: uuid
          nullable: true
        createdByProviderId:
          type: string
          format: uuid
          nullable: true
        baseCaseId:
          type: string
          format: uuid
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    MedCaseCreateRequest:
      type: object
      description: All fields are optional. Provide at minimum patientFirstName and/or patientLastName.
      properties:
        patientFirstName:
          type: string
          maxLength: 255
        patientLastName:
          type: string
          maxLength: 255
        patientEmail:
          type: string
          format: email
          maxLength: 255
        patientPhone:
          type: string
          maxLength: 30
          description: Digits only
        patientDateOfBirth:
          type: string
          format: date
        patientZipCode:
          type: string
          maxLength: 20
        attorneyName:
          type: string
          maxLength: 255
        attorneyPhone:
          type: string
          maxLength: 30
          description: Digits only
        attorneyEmail:
          type: string
          format: email
          maxLength: 255
        description:
          type: string
        incidentDate:
          type: string
          format: date
        caseType:
          type: string
          maxLength: 255
        jurisdiction:
          type: string
          maxLength: 255
    MedCaseUpdateRequest:
      type: object
      description: >-
        Provide at least one field. Only provided fields are updated. Pass `baseCaseId: null` to unlink a previously
        linked CaseXchange case.
      minProperties: 1
      properties:
        patientFirstName:
          type: string
          maxLength: 255
        patientLastName:
          type: string
          maxLength: 255
        patientEmail:
          type: string
          format: email
          maxLength: 255
        patientPhone:
          type: string
          maxLength: 30
          description: Digits only
        patientDateOfBirth:
          type: string
          format: date
        patientZipCode:
          type: string
          maxLength: 20
        attorneyName:
          type: string
          maxLength: 255
        attorneyPhone:
          type: string
          maxLength: 30
          description: Digits only
        attorneyEmail:
          type: string
          format: email
          maxLength: 255
        description:
          type: string
        incidentDate:
          type: string
          format: date
        caseType:
          type: string
          maxLength: 255
        jurisdiction:
          type: string
          maxLength: 255
        baseCaseId:
          type: string
          format: uuid
          nullable: true
    MedReferral:
      type: object
      properties:
        id:
          type: string
          format: uuid
        referenceNumber:
          type: string
          nullable: true
        medCaseId:
          type: string
          format: uuid
        providerId:
          type: string
          format: uuid
          nullable: true
        doctorIds:
          type: array
          items:
            type: string
            format: uuid
          description: Doctor roster (user ids) assigned to the referral.
        locationIds:
          type: array
          items:
            type: string
            format: uuid
          description: Location roster (provider location ids) assigned to the referral.
        parentReferralId:
          type: string
          format: uuid
          nullable: true
        status:
          type: string
          description: MedicalReferralStatus enum value
          enum:
            - draft
            - sent
            - under_review
            - accepted
            - in_treatment
            - treatment_complete
            - closed
            - rejected
            - withdrawn
        notes:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    MedReferralCreateRequest:
      type: object
      required:
        - providerId
      description: >-
        Creates a new referral on the med case. The provider must be in your network (an ACTIVE FirmProviderConnection);
        otherwise the request returns 403.
      properties:
        providerId:
          type: string
          format: uuid
          description: UUID of the provider to refer to (required). Must be in your network.
        doctorIds:
          type: array
          items:
            type: string
            format: uuid
          description: Doctor roster (user ids) to assign to the referral.
        locationIds:
          type: array
          items:
            type: string
            format: uuid
          description: Location roster (provider location ids) to assign to the referral.
        notes:
          type: string
    MedReferralUpdateRequest:
      type: object
      description: >-
        Provide at least one field. Only provided fields are updated. Doctor/location assignment is not writable via
        this endpoint.
      minProperties: 1
      properties:
        providerId:
          type: string
          format: uuid
        notes:
          type: string
    MedInsurance:
      type: object
      properties:
        id:
          type: string
          format: uuid
        medCaseId:
          type: string
          format: uuid
        insuranceCarrier:
          type: string
          nullable: true
        insuranceAddress:
          type: string
          nullable: true
        insurancePhone:
          type: string
          nullable: true
        policyNumber:
          type: string
          nullable: true
        claimNumber:
          type: string
          nullable: true
        adjusterName:
          type: string
          nullable: true
        adjusterPhone:
          type: string
          nullable: true
        adjusterEmail:
          type: string
          nullable: true
        isPrimary:
          type: boolean
        insuranceType:
          type: string
          enum:
            - health
            - auto
            - workers_comp
            - liability
            - other
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    SendMapping:
      type: object
      description: >-
        The active v2 sending profile's mapping for one (sfObjectApiName, sfRecordTypeDevName) pair, consumed by the
        managed package's send LWC (spec §6).
      properties:
        profile:
          type: object
          properties:
            id:
              type: string
              format: uuid
            sfObjectApiName:
              type: string
            sfRecordTypeDevName:
              type: string
              nullable: true
            version:
              type: string
              format: date-time
              description: Observability marker only — the send endpoint re-reads current config server-side.
          required:
            - id
            - sfObjectApiName
            - sfRecordTypeDevName
            - version
        matchKey:
          type: object
          nullable: true
          description: "Discriminated union: {mode:'externalId', fieldName} or {mode:'lookup', lookupField, relatedExternalIdField}."
          properties:
            mode:
              type: string
              enum:
                - externalId
                - lookup
            fieldName:
              type: string
            lookupField:
              type: string
            relatedExternalIdField:
              type: string
        prefill:
          type: array
          items: &ref_0
            type: object
            properties:
              canonicalKey:
                type: string
                example: matter.status
              sfFieldApiName:
                type: string
                example: litify_pm__Matter_Status__c
            required:
              - canonicalKey
              - sfFieldApiName
          description: Fields to prefill on the send form from CaseXchange (toCx / bidirectional links).
        writeback:
          type: array
          items: *ref_0
          description: Fields the org expects written back after send (toSf / bidirectional links).
        sendFields:
          type: array
          items:
            type: object
            properties:
              canonicalKey:
                type: string
              payloadKey:
                type: string
              label:
                type: string
              type:
                type: string
              required:
                type: boolean
              editable:
                type: boolean
              prefillSfFieldApiName:
                type: string
                nullable: true
            required:
              - canonicalKey
              - payloadKey
              - label
              - type
              - required
              - editable
              - prefillSfFieldApiName
          description: The full send-field catalog with prefill values resolved where available.
      required:
        - profile
        - matchKey
        - prefill
        - writeback
        - sendFields
    InteractiveSendResult:
      type: object
      description: >-
        Result of a durable, idempotent interactive send/re-refer (spec §7.2). `attempt.state` tells the org client
        where write-back stands: 'writeback_pending' means the bridge fields will be stamped by the writeback job;
        'completed' means they already have been. 'superseded' (terminal, returned on replay) means a later re-refer
        superseded this attempt's referral, so nothing is left to stamp. There is no status-check endpoint: the only
        signal that write-back finished is the bridge fields appearing on the source Salesforce record (typically within
        ~5 minutes). A send that exhausts its retries becomes 'needs_attention' and is paused for an admin WITHOUT
        signalling the org, so clients should treat a still-unstamped record after a timeout as stale rather than poll
        indefinitely.
      properties:
        attempt:
          type: object
          properties:
            id:
              type: string
              format: uuid
            state:
              type: string
              enum:
                - processing
                - writeback_pending
                - completed
                - needs_attention
                - superseded
                - failed
              description: Attempt lifecycle state.
            idempotencyKey:
              type: string
              format: uuid
            replay:
              type: boolean
              description: >-
                True when this response replays a previously processed idempotency key (a genuine retry of the same
                submit) rather than a freshly created send.
          required:
            - id
            - state
            - idempotencyKey
            - replay
        sentCase:
          $ref: "#/components/schemas/SentCase"
      required:
        - attempt
        - sentCase
    Error: &ref_2
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
          required:
            - code
            - message
        meta: &ref_1
          type: object
          properties:
            requestId:
              type: string
              example: req_f2dbe1d3f6ad4a7bb5b4c9f2
            timestamp:
              type: string
              format: date-time
          required:
            - requestId
            - timestamp
      required:
        - error
        - meta
paths:
  /case-types:
    get:
      operationId: listCaseTypes
      summary: List case types
      description: Returns all active case types available for creating referrals.
      tags:
        - Reference Data
      security: &ref_4
        - apiKeyAuth: []
      x-access-tier: read_only
      responses:
        "200":
          description: List of case types
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/CaseType"
                  meta: *ref_1
                required:
                  - data
                  - meta
        "401": &ref_5
          description: Invalid or missing API key
          content: &ref_3
            application/json:
              schema: *ref_2
        "403": &ref_6
          description: API key tier does not permit this action
          content: *ref_3
  /jurisdictions:
    get:
      operationId: listJurisdictions
      summary: List jurisdictions
      description: Returns all jurisdictions (US states and territories) supported by the platform.
      tags:
        - Reference Data
      security: *ref_4
      x-access-tier: read_only
      responses:
        "200":
          description: List of jurisdictions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: NY
                        name:
                          type: string
                          example: New York
                  meta: *ref_1
                required:
                  - data
                  - meta
        "401": *ref_5
        "403": *ref_6
  /counties:
    get:
      operationId: listCounties
      summary: List counties
      description: Returns counties, optionally filtered by one or more jurisdiction codes (comma-separated).
      tags:
        - Reference Data
      security: *ref_4
      x-access-tier: read_only
      parameters:
        - in: query
          name: jurisdictionCodes
          schema:
            type: string
            example: NY,NJ
          description: Comma-separated jurisdiction codes to filter by (optional)
      responses:
        "200":
          description: List of counties
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        name:
                          type: string
                        jurisdictionCode:
                          type: string
                  meta: *ref_1
                required:
                  - data
                  - meta
        "401": *ref_5
        "403": *ref_6
  /firms/directory:
    get:
      operationId: listFirmDirectory
      summary: List firms directory
      description: Returns a directory of all active firms on the platform.
      tags:
        - Firms
      security: *ref_4
      x-access-tier: read_only
      responses:
        "200":
          description: Firm directory
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Firm"
                  meta: *ref_1
                required:
                  - data
                  - meta
        "401": *ref_5
        "403": *ref_6
  /firms/me:
    get:
      operationId: getOwnFirm
      summary: Get the caller's firm
      description: Returns the firm associated with the API key making the request.
      tags:
        - Firms
      security: *ref_4
      x-access-tier: read_only
      responses:
        "200":
          description: Own firm record
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Firm"
                  meta: *ref_1
                required:
                  - data
                  - meta
        "401": *ref_5
        "403": *ref_6
    put:
      operationId: updateOwnFirm
      summary: Update the caller's firm
      description: Updates editable fields on the API key's own firm. Requires FULL tier.
      tags:
        - Firms
      security: *ref_4
      x-access-tier: full
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                phone:
                  type: string
                address:
                  type: string
                city:
                  type: string
                state:
                  type: string
                zip:
                  type: string
                website:
                  type: string
                  format: uri
      responses:
        "200":
          description: Updated firm record
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Firm"
                  meta: *ref_1
                required:
                  - data
                  - meta
        "400": &ref_7
          description: Request validation failed
          content: *ref_3
        "401": *ref_5
        "403": *ref_6
  /firms/{id}:
    get:
      operationId: getFirmById
      summary: Get firm by ID
      description: Returns a single firm by its UUID.
      tags:
        - Firms
      security: *ref_4
      x-access-tier: read_only
      parameters:
        - &ref_8
          in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
          description: Resource UUID
      responses:
        "200":
          description: Firm record
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Firm"
                  meta: *ref_1
                required:
                  - data
                  - meta
        "401": *ref_5
        "403": *ref_6
        "404": &ref_9
          description: Resource not found
          content: *ref_3
  /cases:
    get:
      operationId: listCases
      summary: List cases
      description: >-
        Returns a paginated list of cases accessible to the caller. Supports filtering by status, date range, and
        keyword search.
      tags:
        - Cases
      security: *ref_4
      x-access-tier: read_only
      parameters:
        - &ref_10
          in: query
          name: page
          schema:
            type: integer
            default: 1
            minimum: 1
          description: Page number (1-indexed)
        - &ref_11
          in: query
          name: limit
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
          description: Results per page (max 100)
        - in: query
          name: status
          schema:
            type: string
          description: Filter by CaseStatus enum value
        - in: query
          name: search
          schema:
            type: string
          description: Keyword search across title, reference number, client name
        - in: query
          name: dateFrom
          schema:
            type: string
            format: date
        - in: query
          name: dateTo
          schema:
            type: string
            format: date
        - in: query
          name: view
          schema:
            type: string
            enum:
              - sent
              - received
              - all
          description: "Perspective filter (default: all)"
        - in: query
          name: sort
          schema:
            type: string
        - in: query
          name: order
          schema:
            type: string
            enum:
              - asc
              - desc
      responses:
        "200":
          description: Paginated list of cases
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: "#/components/schemas/Case"
                      total:
                        type: integer
                      page:
                        type: integer
                      limit:
                        type: integer
                  meta: *ref_1
                required:
                  - data
                  - meta
        "401": *ref_5
        "403": *ref_6
    post:
      operationId: createCase
      summary: Create a case
      description: Creates a new case referral. Requires STANDARD tier.
      tags:
        - Cases
      security: *ref_4
      x-access-tier: standard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - caseType
                - jurisdiction
                - clientFirstName
                - clientLastName
              properties:
                title:
                  type: string
                  minLength: 1
                description:
                  type: string
                caseType:
                  type: string
                  minLength: 1
                jurisdiction:
                  type: string
                  minLength: 1
                county:
                  type: string
                  nullable: true
                clientFirstName:
                  type: string
                  minLength: 1
                clientLastName:
                  type: string
                  minLength: 1
                clientEmail:
                  type: string
                  format: email
                clientPhone:
                  type: string
                clientDateOfBirth:
                  type: string
                  format: date
                incidentDate:
                  type: string
                  format: date
                referentFirmId:
                  type: string
                  format: uuid
                notes:
                  type: string
                source:
                  type: string
                sentExpirationHours:
                  type: integer
                  minimum: 1
                  nullable: true
                isRetainerSigned:
                  type: boolean
                  default: false
      responses:
        "201":
          description: Created case
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Case"
                  meta: *ref_1
                required:
                  - data
                  - meta
        "400": *ref_7
        "401": *ref_5
        "403": *ref_6
  /cases/{id}:
    get:
      operationId: getCaseById
      summary: Get case by ID
      description: Returns a single case by UUID.
      tags:
        - Cases
      security: *ref_4
      x-access-tier: read_only
      parameters:
        - *ref_8
      responses:
        "200":
          description: Case record
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Case"
                  meta: *ref_1
                required:
                  - data
                  - meta
        "401": *ref_5
        "403": *ref_6
        "404": *ref_9
    put:
      operationId: updateCase
      summary: Update a case
      description: Updates editable fields on a case. Requires STANDARD tier.
      tags:
        - Cases
      security: *ref_4
      x-access-tier: standard
      parameters:
        - *ref_8
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                  nullable: true
                caseType:
                  type: string
                jurisdiction:
                  type: string
                clientFirstName:
                  type: string
                clientLastName:
                  type: string
                clientEmail:
                  type: string
                  format: email
                  nullable: true
                clientPhone:
                  type: string
                  nullable: true
                notes:
                  type: string
                  nullable: true
                source:
                  type: string
                phase:
                  type: string
                  nullable: true
      responses:
        "200":
          description: Updated case
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Case"
                  meta: *ref_1
                required:
                  - data
                  - meta
        "400": *ref_7
        "401": *ref_5
        "403": *ref_6
        "404": *ref_9
    delete:
      operationId: deleteCase
      summary: Delete a case
      description: Permanently deletes a DRAFT case. Requires FULL tier.
      tags:
        - Cases
      security: *ref_4
      x-access-tier: full
      parameters:
        - *ref_8
      responses:
        "204":
          description: Case deleted (no content)
        "401": *ref_5
        "403": *ref_6
        "404": *ref_9
  /cases/{id}/status-history:
    get:
      operationId: getCaseStatusHistory
      summary: Get case status history
      description: Returns all historical status transitions for a case.
      tags:
        - Cases
      security: *ref_4
      x-access-tier: read_only
      parameters:
        - *ref_8
      responses:
        "200":
          description: Status history
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        status:
                          type: string
                        notes:
                          type: string
                          nullable: true
                        createdAt:
                          type: string
                          format: date-time
                        createdBy:
                          type: string
                  meta: *ref_1
                required:
                  - data
                  - meta
        "401": *ref_5
        "403": *ref_6
        "404": *ref_9
  /cases/{id}/acknowledge:
    post:
      operationId: acknowledgeCase
      summary: Acknowledge a case
      description: Marks a SENT case as acknowledged by the receiving firm, transitioning it to RECEIVED. Requires STANDARD tier.
      tags:
        - Cases
      security: *ref_4
      x-access-tier: standard
      parameters:
        - *ref_8
      responses:
        "200":
          description: Acknowledged case
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Case"
                  meta: *ref_1
                required:
                  - data
                  - meta
        "401": *ref_5
        "403": *ref_6
        "404": *ref_9
  /cases/{id}/status:
    post:
      operationId: updateCaseStatus
      summary: Update case status
      description: Transitions a case to a new status. Invalid transitions are rejected. Requires STANDARD tier.
      tags:
        - Cases
      security: *ref_4
      x-access-tier: standard
      parameters:
        - *ref_8
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  type: string
                  description: Target CaseStatus enum value
                notes:
                  type: string
                closingStatus:
                  type: string
                  description: Required when transitioning to CLOSED
      responses:
        "200":
          description: Case after status transition
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Case"
                  meta: *ref_1
                required:
                  - data
                  - meta
        "400": *ref_7
        "401": *ref_5
        "403": *ref_6
        "404": *ref_9
  /cases/{id}/close:
    post:
      operationId: closeCase
      summary: Close a case
      description: Initiates the closing workflow for a case. Requires STANDARD tier.
      tags:
        - Cases
      security: *ref_4
      x-access-tier: standard
      parameters:
        - *ref_8
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - closingStatus
              properties:
                closingStatus:
                  type: string
                closingNotes:
                  type: string
                settlementAmount:
                  type: number
                  minimum: 0
                clientFeeAgreementPercentage:
                  type: number
                  minimum: 0
                  maximum: 1
                attorneyFees:
                  type: number
                  minimum: 0
                closureReason:
                  type: string
      responses:
        "200":
          description: Closed case
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Case"
                  meta: *ref_1
                required:
                  - data
                  - meta
        "400": *ref_7
        "401": *ref_5
        "403": *ref_6
        "404": *ref_9
  /cases/{caseId}/documents:
    get:
      operationId: listDocuments
      summary: List documents for a case
      description: Returns all documents attached to the specified case.
      tags:
        - Documents
      security: *ref_4
      x-access-tier: read_only
      parameters:
        - in: path
          name: caseId
          required: true
          schema:
            type: string
            format: uuid
          description: Case UUID
      responses:
        "200":
          description: Document list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Document"
                  meta: *ref_1
                required:
                  - data
                  - meta
        "401": *ref_5
        "403": *ref_6
        "404": *ref_9
    post:
      operationId: uploadDocument
      summary: Upload a document
      description: >-
        Uploads a file and attaches it to the specified case (multipart/form-data). Requires STANDARD tier. Maximum file
        size 50 MB.
      tags:
        - Documents
      security: *ref_4
      x-access-tier: standard
      parameters:
        - in: path
          name: caseId
          required: true
          schema:
            type: string
            format: uuid
          description: Case UUID
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: File to upload (max 50 MB)
      responses:
        "201":
          description: Uploaded document metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Document"
                  meta: *ref_1
                required:
                  - data
                  - meta
        "401": *ref_5
        "403": *ref_6
        "404": *ref_9
  /cases/{caseId}/documents/{docId}/download:
    get:
      operationId: getDocumentDownloadUrl
      summary: Get document download URL
      description: Returns a short-lived pre-signed S3 URL for downloading the specified document.
      tags:
        - Documents
      security: *ref_4
      x-access-tier: read_only
      parameters:
        - in: path
          name: caseId
          required: true
          schema:
            type: string
            format: uuid
          description: Case UUID
        - in: path
          name: docId
          required: true
          schema:
            type: string
            format: uuid
          description: Document UUID
      responses:
        "200":
          description: Pre-signed download URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      url:
                        type: string
                        format: uri
                      expiresAt:
                        type: string
                        format: date-time
                  meta: *ref_1
                required:
                  - data
                  - meta
        "401": *ref_5
        "403": *ref_6
        "404": *ref_9
  /cases/{caseId}/documents/{docId}:
    delete:
      operationId: deleteDocument
      summary: Delete a document
      description: Permanently deletes the specified document from the case and S3. Requires FULL tier.
      tags:
        - Documents
      security: *ref_4
      x-access-tier: full
      parameters:
        - in: path
          name: caseId
          required: true
          schema:
            type: string
            format: uuid
          description: Case UUID
        - in: path
          name: docId
          required: true
          schema:
            type: string
            format: uuid
          description: Document UUID
      responses:
        "204":
          description: Document deleted (no content)
        "401": *ref_5
        "403": *ref_6
        "404": *ref_9
  /users:
    get:
      operationId: listUsers
      summary: List the caller's firm users
      description: Returns all users belonging to the API key's own firm.
      tags:
        - Users
      security: *ref_4
      x-access-tier: read_only
      parameters:
        - *ref_10
        - *ref_11
      responses:
        "200":
          description: User list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/User"
                  meta: *ref_1
                required:
                  - data
                  - meta
        "401": *ref_5
        "403": *ref_6
    post:
      operationId: inviteUser
      summary: Invite a user
      description: Invites a new user to the caller's firm. Requires FULL tier.
      tags:
        - Users
      security: *ref_4
      x-access-tier: full
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - firstName
                - lastName
                - role
              properties:
                email:
                  type: string
                  format: email
                firstName:
                  type: string
                lastName:
                  type: string
                role:
                  type: string
                  description: UserRole enum value
      responses:
        "201":
          description: Invited user
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/User"
                  meta: *ref_1
                required:
                  - data
                  - meta
        "400": *ref_7
        "401": *ref_5
        "403": *ref_6
  /users/{id}:
    put:
      operationId: updateUser
      summary: Update a user
      description: Updates a user in the caller's firm. Requires FULL tier.
      tags:
        - Users
      security: *ref_4
      x-access-tier: full
      parameters:
        - *ref_8
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                lastName:
                  type: string
                role:
                  type: string
                isActive:
                  type: boolean
      responses:
        "200":
          description: Updated user
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/User"
                  meta: *ref_1
                required:
                  - data
                  - meta
        "400": *ref_7
        "401": *ref_5
        "403": *ref_6
        "404": *ref_9
  /sent-cases:
    get:
      operationId: listSentCases
      summary: List sent cases
      description: Paginated list of cases owned by the caller's firm, each with its most-recent referral.
      tags:
        - Sent Cases
      security: *ref_4
      x-access-tier: read_only
      parameters:
        - *ref_10
        - *ref_11
        - name: status
          in: query
          schema:
            type: string
          description: Filter by CaseStatus
        - name: closingStatus
          in: query
          schema:
            type: string
          description: Filter by ClosingStatus
        - name: search
          in: query
          schema:
            type: string
          description: Reference number or receiving firm name
        - name: sort
          in: query
          schema:
            type: string
            enum:
              - updatedAt
              - createdAt
              - status
              - referenceNumber
          description: >-
            Sort field, default updatedAt. createdAt sorts by the most-recent referral's creation time (when the case
            was sent/re-referred), not the draft-creation date.
        - name: order
          in: query
          schema:
            type: string
            enum:
              - asc
              - desc
      responses:
        "200":
          description: Sent cases list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/SentCaseListItem"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
                  meta: *ref_1
                required:
                  - data
                  - pagination
                  - meta
        "401": *ref_5
        "403": *ref_6
    post:
      operationId: createSentCase
      summary: Create a sent case
      description: >-
        Creates a case owned by the caller's firm. If referentFirmId is provided the case is SENT; otherwise it is
        created as a DRAFT. Pass routingRuleId + roundRobinPosition (from GET /routing/evaluate) to advance the
        round-robin pointer. Requires STANDARD tier.
      tags:
        - Sent Cases
      security: *ref_4
      x-access-tier: standard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - caseType
                - jurisdiction
                - clientFirstName
                - clientLastName
              properties:
                title:
                  type: string
                  minLength: 1
                description:
                  type: string
                caseType:
                  type: string
                  minLength: 1
                jurisdiction:
                  type: string
                  minLength: 1
                county:
                  type: string
                  nullable: true
                clientFirstName:
                  type: string
                  minLength: 1
                clientLastName:
                  type: string
                  minLength: 1
                clientEmail:
                  type: string
                  format: email
                clientPhone:
                  type: string
                clientDateOfBirth:
                  type: string
                  format: date
                  nullable: true
                incidentDate:
                  type: string
                  format: date
                  nullable: true
                tier:
                  type: integer
                  minimum: 1
                  maximum: 5
                  nullable: true
                source:
                  type: string
                notes:
                  type: string
                referentFirmId:
                  type: string
                  format: uuid
                  description: Receiving firm. Omit to create a DRAFT.
                routingRuleId:
                  type: string
                  format: uuid
                  description: >-
                    Optional. Routing rule this send was chosen from (from GET /routing/evaluate). Ignored (with a
                    server-side warning) if it is not a live rule owned by your firm.
                roundRobinPosition:
                  type: integer
                  minimum: 0
                  description: >-
                    Optional. The roundRobinPosition from GET /routing/evaluate. Requires routingRuleId; advances the
                    rule's round-robin pointer.
                isRetainerSigned:
                  type: boolean
                  default: false
                salesforceId:
                  type: string
                salesforceObjectType:
                  type: string
                externalSystem:
                  type: string
                  enum:
                    - cloudlex
                    - morgan_morgan
                externalId:
                  type: string
      responses:
        "201":
          description: Created sent case
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/SentCase"
                  meta: *ref_1
                required:
                  - data
                  - meta
        "400": *ref_7
        "401": *ref_5
        "403": *ref_6
        "409":
          description: A referral for this Salesforce record already exists
          content: *ref_3
  /sent-cases/{id}:
    get:
      operationId: getSentCase
      summary: Get a sent case
      description: >-
        Full detail (including all referrals) for a case owned by the caller's firm. Accepts a case id, referral id,
        reference number, or Salesforce id.
      tags:
        - Sent Cases
      security: *ref_4
      x-access-tier: read_only
      parameters:
        - *ref_8
      responses:
        "200":
          description: Sent case detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/SentCase"
                  meta: *ref_1
                required:
                  - data
                  - meta
        "401": *ref_5
        "403": *ref_6
        "404": *ref_9
    patch:
      operationId: updateSentCase
      summary: Update a sent case
      description: Updates sender-editable fields (tier, source, Salesforce ids, client info, note). Requires STANDARD tier.
      tags:
        - Sent Cases
      security: *ref_4
      x-access-tier: standard
      parameters:
        - *ref_8
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tier:
                  type: integer
                  minimum: 1
                  maximum: 5
                  nullable: true
                source:
                  type: string
                  nullable: true
                salesforceId:
                  type: string
                  nullable: true
                salesforceObjectType:
                  type: string
                  nullable: true
                clientDateOfBirth:
                  type: string
                  format: date
                  nullable: true
                clientPhone:
                  type: string
                  maxLength: 50
                  nullable: true
                clientEmail:
                  type: string
                  format: email
                  nullable: true
                clientAddress1:
                  type: string
                  maxLength: 500
                  nullable: true
                clientAddress2:
                  type: string
                  maxLength: 500
                  nullable: true
                clientCity:
                  type: string
                  maxLength: 200
                  nullable: true
                clientPostalCode:
                  type: string
                  maxLength: 20
                  nullable: true
                note:
                  type: string
                  minLength: 1
                  maxLength: 10000
      responses:
        "200":
          description: Updated sent case
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/SentCase"
                  meta: *ref_1
                required:
                  - data
                  - meta
        "400": *ref_7
        "401": *ref_5
        "403": *ref_6
        "404": *ref_9
  /sent-cases/{id}/available-statuses:
    get:
      operationId: getSentCaseAvailableStatuses
      summary: Get available status transitions (sender)
      description: Sender-perspective status transitions available on the case's most-recent referral.
      tags:
        - Sent Cases
      security: *ref_4
      x-access-tier: read_only
      parameters:
        - *ref_8
      responses:
        "200":
          description: Available transitions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      currentStatus:
                        type: string
                      party:
                        type: string
                        example: sender
                      availableTransitions:
                        type: array
                        items:
                          type: object
                  meta: *ref_1
                required:
                  - data
                  - meta
        "401": *ref_5
        "403": *ref_6
        "404": *ref_9
  /sent-cases/{id}/refer:
    post:
      operationId: referSentCase
      summary: Refer / re-refer a sent case
      description: >-
        Sends a DRAFT case or re-refers an existing case to a receiving firm. Pass routingRuleId + roundRobinPosition
        (from GET /routing/re-refer) to advance the round-robin pointer. Requires STANDARD tier.
      tags:
        - Sent Cases
      security: *ref_4
      x-access-tier: standard
      parameters:
        - *ref_8
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - referentFirmId
              properties:
                referentFirmId:
                  type: string
                  format: uuid
                notes:
                  type: string
                routingRuleId:
                  type: string
                  format: uuid
                  description: >-
                    Optional. Routing rule this send was chosen from (from GET /routing/re-refer). Ignored (with a
                    server-side warning) if it is not a live rule owned by your firm.
                roundRobinPosition:
                  type: integer
                  minimum: 0
                  description: >-
                    Optional. The roundRobinPosition from GET /routing/re-refer. Requires routingRuleId; advances the
                    rule's round-robin pointer.
      responses:
        "200":
          description: Case referred
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/SentCase"
                  meta: *ref_1
                required:
                  - data
                  - meta
        "400": *ref_7
        "401": *ref_5
        "403": *ref_6
        "404": *ref_9
  /routing/evaluate:
    get:
      operationId: evaluateRouting
      summary: Evaluate routing for a case profile
      description: >-
        Returns the routing decision for a hypothetical case: the matched rule, the round-robin selectedFirmId to send
        to, and the roundRobinPosition to pass back into create/refer to advance the pointer. Read-only — evaluating
        does NOT advance the pointer. Requires the firm to have routing-rule management enabled.
      tags:
        - Routing
      security: *ref_4
      x-access-tier: read_only
      parameters:
        - name: caseType
          in: query
          required: true
          schema:
            type: string
        - name: jurisdiction
          in: query
          required: true
          schema:
            type: string
        - name: tier
          in: query
          schema:
            type: integer
        - name: county
          in: query
          schema:
            type: string
        - name: typeCategory
          in: query
          schema:
            type: string
        - name: attempt
          in: query
          schema:
            type: integer
          description: Referral attempt number (1 = first send)
      responses:
        "200":
          description: Routing decision (data is null when no rule matches)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/RoutingEvaluation"
                  meta: *ref_1
                required:
                  - data
                  - meta
        "400": *ref_7
        "401": *ref_5
        "403": *ref_6
  /routing/re-refer:
    get:
      operationId: evaluateReReferRouting
      summary: Evaluate routing for an existing case (re-refer)
      description: >-
        Like /routing/evaluate but for an existing case: derives the case profile and attempt number, excludes
        already-referred firms, and returns the next round-robin selectedFirmId + roundRobinPosition. Read-only.
        Requires the firm to have routing-rule management enabled.
      tags:
        - Routing
      security: *ref_4
      x-access-tier: read_only
      parameters:
        - name: caseId
          in: query
          required: true
          schema:
            type: string
          description: Case id, referral id, or reference number
        - name: tier
          in: query
          schema:
            type: integer
          description: Override the case tier for this evaluation
      responses:
        "200":
          description: Routing decision (data is null when no rule matches)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/RoutingEvaluation"
                  meta: *ref_1
                required:
                  - data
                  - meta
        "401": *ref_5
        "403": *ref_6
        "404": *ref_9
  /routing/rules:
    get:
      operationId: listRoutingRules
      summary: List routing rules
      description: Returns the referral routing rules configured for the caller's firm.
      tags:
        - Routing
      security: *ref_4
      x-access-tier: read_only
      responses:
        "200":
          description: Routing rules list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/RoutingRule"
                  meta: *ref_1
                required:
                  - data
                  - meta
        "401": *ref_5
        "403": *ref_6
    post:
      operationId: createRoutingRule
      summary: Create a routing rule
      description: Creates a new referral routing rule for the firm. Requires FULL tier.
      tags:
        - Routing
      security: *ref_4
      x-access-tier: full
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - conditions
                - targetFirmId
              properties:
                name:
                  type: string
                conditions:
                  type: array
                  items:
                    type: object
                targetFirmId:
                  type: string
                  format: uuid
                priority:
                  type: integer
                  minimum: 0
                isActive:
                  type: boolean
                  default: true
      responses:
        "201":
          description: Created routing rule
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/RoutingRule"
                  meta: *ref_1
                required:
                  - data
                  - meta
        "400": *ref_7
        "401": *ref_5
        "403": *ref_6
  /routing/rules/{id}:
    put:
      operationId: updateRoutingRule
      summary: Update a routing rule
      description: Updates an existing routing rule. Requires FULL tier.
      tags:
        - Routing
      security: *ref_4
      x-access-tier: full
      parameters:
        - *ref_8
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                conditions:
                  type: array
                  items:
                    type: object
                targetFirmId:
                  type: string
                  format: uuid
                priority:
                  type: integer
                  minimum: 0
                isActive:
                  type: boolean
      responses:
        "200":
          description: Updated routing rule
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/RoutingRule"
                  meta: *ref_1
                required:
                  - data
                  - meta
        "400": *ref_7
        "401": *ref_5
        "403": *ref_6
        "404": *ref_9
    delete:
      operationId: deleteRoutingRule
      summary: Delete a routing rule
      description: Deletes a routing rule. Requires FULL tier.
      tags:
        - Routing
      security: *ref_4
      x-access-tier: full
      parameters:
        - *ref_8
      responses:
        "204":
          description: Rule deleted (no content)
        "401": *ref_5
        "403": *ref_6
        "404": *ref_9
  /analytics/dashboard:
    get:
      operationId: getDashboard
      summary: Get dashboard analytics
      description: Returns high-level referral analytics for the caller's firm.
      tags:
        - Analytics
      security: *ref_4
      x-access-tier: read_only
      responses:
        "200":
          description: Dashboard analytics
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Dashboard metrics object
                  meta: *ref_1
                required:
                  - data
                  - meta
        "401": *ref_5
        "403": *ref_6
  /analytics/cases:
    get:
      operationId: getCaseAnalytics
      summary: Get case analytics
      description: Returns case-level analytics with optional date range filtering.
      tags:
        - Analytics
      security: *ref_4
      x-access-tier: read_only
      parameters:
        - in: query
          name: dateFrom
          schema:
            type: string
            format: date
        - in: query
          name: dateTo
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Case analytics
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Case analytics metrics
                  meta: *ref_1
                required:
                  - data
                  - meta
        "401": *ref_5
        "403": *ref_6
  /notifications/preferences:
    get:
      operationId: getNotificationPreferences
      summary: Get notification preferences
      description: Returns the notification preferences for the caller's firm.
      tags:
        - Notifications
      security: *ref_4
      x-access-tier: read_only
      responses:
        "200":
          description: Notification preferences
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Notification preferences object
                  meta: *ref_1
                required:
                  - data
                  - meta
        "401": *ref_5
        "403": *ref_6
    put:
      operationId: updateNotificationPreferences
      summary: Update notification preferences
      description: Updates the notification preferences for the caller's firm. Requires FULL tier.
      tags:
        - Notifications
      security: *ref_4
      x-access-tier: full
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Notification preference fields to update
      responses:
        "200":
          description: Updated preferences
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                  meta: *ref_1
                required:
                  - data
                  - meta
        "400": *ref_7
        "401": *ref_5
        "403": *ref_6
  /notifications/emails:
    get:
      operationId: listNotificationEmails
      summary: List notification email addresses
      description: Returns all notification email addresses configured for the caller's firm.
      tags:
        - Notifications
      security: *ref_4
      x-access-tier: read_only
      responses:
        "200":
          description: Email list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        email:
                          type: string
                          format: email
                  meta: *ref_1
                required:
                  - data
                  - meta
        "401": *ref_5
        "403": *ref_6
    post:
      operationId: addNotificationEmail
      summary: Add a notification email address
      description: Adds an email address to the firm's notification list. Requires FULL tier.
      tags:
        - Notifications
      security: *ref_4
      x-access-tier: full
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
      responses:
        "201":
          description: Added email
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      email:
                        type: string
                        format: email
                  meta: *ref_1
                required:
                  - data
                  - meta
        "400": *ref_7
        "401": *ref_5
        "403": *ref_6
  /med-cases:
    get:
      operationId: listMedCases
      summary: List med cases
      description: >-
        Returns all Med Xchange cases visible to the caller's firm. Supports pagination, full-text search, and archived
        filtering.
      tags:
        - Med Cases
      security: *ref_4
      x-access-tier: read_only
      parameters:
        - *ref_10
        - *ref_11
        - in: query
          name: search
          schema:
            type: string
            maxLength: 255
          description: Full-text search across patient name, reference number, and description
        - in: query
          name: includeArchived
          schema:
            type: boolean
            default: false
          description: Include archived med cases (default false)
      responses:
        "200":
          description: Med case list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/MedCase"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
                  meta: *ref_1
                required:
                  - data
                  - pagination
                  - meta
        "401": *ref_5
        "403": *ref_6
    post:
      operationId: createMedCase
      summary: Create a med case
      description: >-
        Creates a new Med Xchange case. All body fields are optional — a minimal create can be submitted with just
        `patientFirstName` and `patientLastName`. Requires STANDARD tier.
      tags:
        - Med Cases
      security: *ref_4
      x-access-tier: standard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MedCaseCreateRequest"
      responses:
        "201":
          description: Created med case
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/MedCase"
                  meta: *ref_1
                required:
                  - data
                  - meta
        "400": *ref_7
        "401": *ref_5
        "403": *ref_6
  /med-cases/{id}:
    get:
      operationId: getMedCaseById
      summary: Get med case by ID
      description: Returns a single Med Xchange case by UUID.
      tags:
        - Med Cases
      security: *ref_4
      x-access-tier: read_only
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
          description: Med case UUID
      responses:
        "200":
          description: Med case record
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/MedCase"
                  meta: *ref_1
                required:
                  - data
                  - meta
        "401": *ref_5
        "403": *ref_6
        "404": *ref_9
    put:
      operationId: updateMedCase
      summary: Update a med case
      description: Updates an existing Med Xchange case. All body fields are optional. Requires STANDARD tier.
      tags:
        - Med Cases
      security: *ref_4
      x-access-tier: standard
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
          description: Med case UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MedCaseUpdateRequest"
      responses:
        "200":
          description: Updated med case
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/MedCase"
                  meta: *ref_1
                required:
                  - data
                  - meta
        "400": *ref_7
        "401": *ref_5
        "403": *ref_6
        "404": *ref_9
    delete:
      operationId: deleteMedCase
      summary: Delete a med case (not supported)
      description: |-
        This endpoint intentionally returns 405. Deleting med cases is not supported.
        Set `isArchived` to `true` via PUT instead.
      tags:
        - Med Cases
      security: *ref_4
      x-access-tier: standard
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
          description: Med case UUID
      responses:
        "401": *ref_5
        "403": *ref_6
        "405":
          description: Method not allowed — deleting med cases is not supported. Set isArchived to true instead.
          content:
            application/json:
              schema: *ref_2
  /med-cases/{id}/referrals:
    get:
      operationId: listMedReferrals
      summary: List referrals on a med case
      description: Returns referrals attached to the specified Med Xchange case, paginated (default `limit=20`, max 100).
      tags:
        - Med Cases
      security: *ref_4
      x-access-tier: read_only
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
          description: Med case UUID
        - *ref_10
        - *ref_11
      responses:
        "200":
          description: Med referral list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/MedReferral"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
                  meta: *ref_1
                required:
                  - data
                  - pagination
                  - meta
        "401": *ref_5
        "403": *ref_6
        "404": *ref_9
    post:
      operationId: createMedReferral
      summary: Create a referral on a med case
      description: Creates a new referral on the specified Med Xchange case. `providerId` is required. Requires STANDARD tier.
      tags:
        - Med Cases
      security: *ref_4
      x-access-tier: standard
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
          description: Med case UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MedReferralCreateRequest"
      responses:
        "201":
          description: Created med referral
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/MedReferral"
                  meta: *ref_1
                required:
                  - data
                  - meta
        "400": *ref_7
        "401": *ref_5
        "403": *ref_6
        "404": *ref_9
  /med-cases/{id}/referrals/{referralId}:
    get:
      operationId: getMedReferralById
      summary: Get a referral on a med case
      description: Returns a single referral by UUID on the specified Med Xchange case.
      tags:
        - Med Cases
      security: *ref_4
      x-access-tier: read_only
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
          description: Med case UUID
        - in: path
          name: referralId
          required: true
          schema:
            type: string
            format: uuid
          description: Med referral UUID
      responses:
        "200":
          description: Med referral record
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/MedReferral"
                  meta: *ref_1
                required:
                  - data
                  - meta
        "401": *ref_5
        "403": *ref_6
        "404": *ref_9
    put:
      operationId: updateMedReferral
      summary: Update a referral on a med case
      description: >-
        Updates an existing referral on the specified Med Xchange case. All body fields are optional. Requires STANDARD
        tier.
      tags:
        - Med Cases
      security: *ref_4
      x-access-tier: standard
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
          description: Med case UUID
        - in: path
          name: referralId
          required: true
          schema:
            type: string
            format: uuid
          description: Med referral UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MedReferralUpdateRequest"
      responses:
        "200":
          description: Updated med referral
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/MedReferral"
                  meta: *ref_1
                required:
                  - data
                  - meta
        "400": *ref_7
        "401": *ref_5
        "403": *ref_6
        "404": *ref_9
  /insurances:
    get:
      operationId: listInsurances
      summary: List insurance records the API key can access
      tags:
        - Med Cases
      security: *ref_4
      x-access-tier: read_only
      parameters:
        - *ref_10
        - *ref_11
        - in: query
          name: medCaseId
          schema:
            type: string
            format: uuid
          description: Filter to one med case
        - in: query
          name: insuranceType
          schema:
            type: string
            enum:
              - health
              - auto
              - workers_comp
              - liability
              - other
          description: Filter by insurance type
        - in: query
          name: isPrimary
          schema:
            type: boolean
          description: Filter by primary flag
      responses:
        "200":
          description: Paginated insurance list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/MedInsurance"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
                  meta: *ref_1
                required:
                  - data
                  - pagination
                  - meta
        "401": *ref_5
        "403": *ref_6
  /insurances/{id}:
    get:
      operationId: getInsuranceById
      summary: Get a single insurance record
      tags:
        - Med Cases
      security: *ref_4
      x-access-tier: read_only
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
          description: Insurance record UUID
      responses:
        "200":
          description: Insurance record
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/MedInsurance"
                  meta: *ref_1
                required:
                  - data
                  - meta
        "401": *ref_5
        "403": *ref_6
        "404": *ref_9
  /med-cases/{id}/insurances:
    get:
      operationId: listMedCaseInsurances
      summary: List insurance records for a single med case
      tags:
        - Med Cases
      security: *ref_4
      x-access-tier: read_only
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
          description: Med case UUID
        - *ref_10
        - *ref_11
        - in: query
          name: insuranceType
          schema:
            type: string
            enum:
              - health
              - auto
              - workers_comp
              - liability
              - other
          description: Filter by insurance type
        - in: query
          name: isPrimary
          schema:
            type: boolean
          description: Filter by primary flag
      responses:
        "200":
          description: Paginated insurance list for the case
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/MedInsurance"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
                  meta: *ref_1
                required:
                  - data
                  - pagination
                  - meta
        "401": *ref_5
        "403": *ref_6
        "404": *ref_9
  /med-cases/{caseId}/documents:
    get:
      operationId: listMedCaseDocuments
      summary: List MedEx case documents
      description: Lists documents on a MedEx case visible to the caller (firm or provider scope). Metadata only.
      tags:
        - MedEx Documents
      security: *ref_4
      x-access-tier: read_only
      parameters:
        - in: path
          name: caseId
          required: true
          schema:
            type: string
            format: uuid
          description: MedCase UUID
        - *ref_10
        - *ref_11
      responses:
        "200":
          description: Document list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/MedCaseDocument"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
                  meta: *ref_1
                required:
                  - data
                  - pagination
                  - meta
        "401": *ref_5
        "403": *ref_6
        "404": *ref_9
  /med-cases/{caseId}/documents/{documentId}:
    get:
      operationId: getMedCaseDocument
      summary: Retrieve a MedEx case document
      description: >-
        Returns a short-lived presigned S3 URL by default (?format=url), or the document inline as base64
        (?format=base64, capped at 20 MB raw). Files over the cap must use ?format=url.
      tags:
        - MedEx Documents
      security: *ref_4
      x-access-tier: read_only
      parameters:
        - in: path
          name: caseId
          required: true
          schema:
            type: string
            format: uuid
          description: MedCase UUID
        - in: path
          name: documentId
          required: true
          schema:
            type: string
            format: uuid
          description: Document handle (junction id)
        - in: query
          name: format
          required: false
          schema:
            type: string
            enum:
              - url
              - base64
            default: url
      responses:
        "200":
          description: Presigned URL (default) or base64 document
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    oneOf:
                      - type: object
                        properties:
                          id:
                            type: string
                          fileName:
                            type: string
                          contentType:
                            type: string
                          fileSize:
                            type: integer
                          downloadUrl:
                            type: string
                            format: uri
                          expiresAt:
                            type: string
                            format: date-time
                      - type: object
                        properties:
                          id:
                            type: string
                          fileName:
                            type: string
                          contentType:
                            type: string
                          fileSize:
                            type: integer
                          encoding:
                            type: string
                            enum:
                              - base64
                          data:
                            type: string
                  meta: *ref_1
                required:
                  - data
                  - meta
        "400": *ref_7
        "401": *ref_5
        "403": *ref_6
        "404": *ref_9
        "413":
          description: Document too large to inline as base64; use ?format=url.
          content: *ref_3
  /import/cases:
    post:
      operationId: importCases
      summary: Bulk import cases via CSV
      description: Creates or upserts cases from a CSV file upload. Requires FULL tier. Maximum file size 20 MB.
      tags:
        - Import
      security: *ref_4
      x-access-tier: full
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: CSV file (max 20 MB)
      responses:
        "200":
          description: Import result summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      created:
                        type: integer
                      updated:
                        type: integer
                      skipped:
                        type: integer
                      errors:
                        type: array
                        items:
                          type: object
                  meta: *ref_1
                required:
                  - data
                  - meta
        "400": *ref_7
        "401": *ref_5
        "403": *ref_6
  /import/cases/update:
    post:
      operationId: importCasesUpdate
      summary: Bulk update cases via CSV
      description: >-
        Updates existing cases from a CSV file. Only existing cases are affected — no new records created. Requires FULL
        tier.
      tags:
        - Import
      security: *ref_4
      x-access-tier: full
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: CSV file (max 20 MB)
      responses:
        "200":
          description: Update result summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      updated:
                        type: integer
                      skipped:
                        type: integer
                      errors:
                        type: array
                        items:
                          type: object
                  meta: *ref_1
                required:
                  - data
                  - meta
        "400": *ref_7
        "401": *ref_5
        "403": *ref_6
  /salesforce/send-mapping:
    get:
      operationId: getSalesforceSendMapping
      summary: Get the active sending-profile mapping for an object/record-type
      description: >-
        Org-facing mapping fetch for the managed package's send LWC: match key, prefill fields, writeback fields, and
        the resolved send-field catalog for the firm's active, activated, interactive-send-enabled v2 sending profile
        matching the given object and record type. Requires FULL tier.
      tags:
        - Salesforce
      security: *ref_4
      x-access-tier: full
      parameters:
        - name: sfObjectApiName
          in: query
          required: true
          schema:
            type: string
          description: Salesforce object API name, e.g. litify_pm__Matter__c
        - name: sfRecordTypeDevName
          in: query
          schema:
            type: string
          description: Optional record type developer name. Omit to match profiles with no record type set.
      responses:
        "200":
          description: Send mapping for the given object/record type
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/SendMapping"
                  meta: *ref_1
                required:
                  - data
[...]
