openapi: 3.0.3
info:
  title: CaseXchange API
  version: 0.1.0
  description: API for managing case referrals, status updates, firms, users, and integrations for the CaseXchange platform.
servers:
  - url: https://api.casexchange.com/api/v1
    description: Production API Base Path
  - url: /api/v1
    description: Relative API Base Path (for proxied docs/local environments)
tags:
  - name: Health
    description: API Health Check
  - name: Auth
    description: Authentication and User Session Management
  - name: Users
    description: User Management (Admin/Profile)
  - name: Firms
    description: Firm Management and Directory
  - name: Admin - Firms
    description: Administrative operations for managing firms
  - name: Cases
    description: Case Referral Management and Actions
  - name: Status Updates
    description: Case Status History and Updates (Sub-resource of Cases)
  - name: Documents
    description: Document Upload, Download, and Management
  - name: CSV Import
    description: Bulk Case Import via CSV
  - name: Integrations
    description: Managing connections with external services (Case Status, Salesforce)
  - name: Analytics
    description: Data retrieval for dashboards and insights
  - name: Routing
    description: Routing rules management and evaluation
  - name: Demo Seed
    description: Demo data seeding and cleanup (non-production only)

# Security Scheme Definition
security:
  - bearerAuth: [ ]

paths:
  /health:
    get:
      tags: [ Health ]
      summary: Check API Health Status
      operationId: getHealthStatus
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  timestamp:
                    type: string
                    format: date-time
                  environment:
                    type: string
                    example: development
                  version:
                    type: string
                    example: 0.1.0

  # --- Auth Paths ---
  /auth/login:
    post:
      tags: [ Auth ]
      summary: Login User
      operationId: loginUser
      description: |
        Authenticates a user with email and password and returns an access token and user profile.
        Browser clients may also receive refresh/session cookies depending on backend configuration.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            examples:
              standard_login:
                summary: Standard JWT login
                value:
                  email: integration-user@example.com
                  password: REPLACE_ME
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_LoginResponse'
              examples:
                success:
                  summary: Login success response
                  value:
                    success: true
                    data:
                      user:
                        id: 9f1c1f5d-8f0a-4ae0-91f7-7f0f1d71fd10
                        email: integration-user@example.com
                        firstName: Pat
                        lastName: Lee
                        role: member
                        firmId: 8b6fd7f7-0ef6-4a5f-99f8-76b5b78ec5f1
                        isActive: true
                      accessToken: eyJ...
                      refreshToken: rtk_...
                    message: null
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403': # Added for account_not_fully_activated or account_inactive_login_attempt
          $ref: '#/components/responses/Forbidden'

  /auth/refresh-session:
    post:
      tags: [ Auth ]
      summary: Refresh User Session
      operationId: refreshSession
      description: |
        Refreshes the current user session.
        This endpoint does not accept a JSON request body; the backend relies on HttpOnly refresh/session cookies.
      responses:
        '200':
          description: Session refreshed successfully
          content:
            application/json:
              schema: # Backend currently sends a simple success message
                $ref: '#/components/schemas/ApiSuccessMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized' # If refresh token is invalid/expired
        '403': # If user account is inactive
          $ref: '#/components/responses/Forbidden'

  /auth/forgot-password:
    post:
      tags: [ Auth ]
      summary: Request Password Reset
      operationId: forgotPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordRequest'
      responses:
        '200':
          description: Request received (email sent if user exists and active, and no pending invitation)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessMessage'
        '400':
          $ref: '#/components/responses/BadRequest'

  /auth/reset-password:
    post:
      tags: [ Auth ]
      summary: Reset Password using Token
      operationId: resetPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
      responses:
        '200':
          description: Password reset successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessMessage'
        '400':
          $ref: '#/components/responses/BadRequest' # For invalid token, expired token, or validation errors
        '403': # If account is inactive
          $ref: '#/components/responses/Forbidden'

  /auth/complete-invitation: # <<< NEW ENDPOINT
    post:
      tags: [ Auth ]
      summary: Complete Account Invitation and Set Password
      operationId: completeInvitation
      description: Allows a new user to set their password and activate their account using a valid invitation token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteInvitationRequest'
      responses:
        '200':
          description: Account activated and password set successfully. User is logged in.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_LoginResponse' # Returns user data and sets session cookies
        '400': # For invalid/expired token, or if account already active
          $ref: '#/components/responses/BadRequest'
        '409': # If account already active with password
          $ref: '#/components/responses/Conflict'


  /auth/me:
    get:
      tags: [ Auth ]
      summary: Get Current User Profile
      operationId: getCurrentUser
      description: Returns the authenticated user's profile and firm context for role/permission checks.
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          $ref: '#/components/responses/UserProfileResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/change-password:
    post:
      tags: [ Auth ]
      summary: Change Authenticated User's Password
      operationId: changePassword
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
      responses:
        '200':
          description: Password changed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403': # If account inactive
          $ref: '#/components/responses/Forbidden'
        '500': # If changing password for user with null hash (inconsistent state)
          description: Internal server error or inconsistent account state.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiErrorResponse' }


  /auth/logout:
    post:
      tags: [ Auth ]
      summary: Logout User
      operationId: logoutUser
      security:
        - bearerAuth: [ ]
      description: Logs out the current user session. This endpoint does not require a request body.
      responses:
        '200':
          description: Logout successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccessMessage'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # --- User Paths ---
  /users:
    get:
      tags: [ Users ]
      summary: List Users
      operationId: listUsers
      description: |
        Requires Firm Admin (lists users for their own firm) or System Admin (can list users for all firms or filter by a specific firmId, or filter by isInternal status).
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Order'
        - name: firmId
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: "System Admin only: Filter users by a specific firm ID."
        - name: role
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/UserRole'
          description: "Filter users by role."
        - name: isActive
          in: query
          required: false
          schema:
            type: boolean
          description: "Filter users by active status."
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiListResponse_User'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [ Users ]
      summary: Create User and Send Invitation
      operationId: createUser
      description: |
        Allows Firm Admins to create users (isActive=false) within their own firm. An invitation email is sent for password setup.
        Allows System Admins to create users for any specified customer firm or their own internal firm.
        Backend enforces firmId ownership for Firm Admins and role assignment rules. Password is NOT set here.
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest' # This schema will be updated to remove password
      responses:
        '201':
          description: User created successfully (isActive=false) and invitation sent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_User' # Returns the created user object
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' } # e.g., email exists

  /users/profile:
    get:
      tags: [ Users ]
      summary: Get Current User Profile
      operationId: getCurrentUserProfile
      security:
        - bearerAuth: [ ]
      responses:
        '200': { $ref: '#/components/responses/UserProfileResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    put:
      tags: [ Users ]
      summary: Update Current User Profile
      operationId: updateCurrentUserProfile
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateProfileRequest' }
      responses:
        '200': { $ref: '#/components/responses/UserProfileResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /users/{id}:
    parameters: [ { $ref: '#/components/parameters/UserId' } ]
    get:
      tags: [ Users ]
      summary: Get User by ID
      operationId: getUserById
      security:
        - bearerAuth: [ ]
      responses:
        '200': { $ref: '#/components/responses/UserProfileResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      tags: [ Users ]
      summary: Update User by ID
      operationId: updateUserById
      description: |
        Requires Firm Admin (own firm users) or System Admin (any user).
        If an admin activates a user who hasn't set their password, a password reset/setup email will be triggered.
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateUserRequest' }
      responses:
        '200': { $ref: '#/components/responses/UserProfileResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete: # Renamed to deactivateUserById in controller, but path is fine
      tags: [ Users ]
      summary: Deactivate User by ID
      operationId: deactivateUserById
      description: Requires Firm Admin (own firm users) or System Admin (any user). Deactivates the user and clears active sessions.
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: User deactivated successfully.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiSuccessMessage' }
        '400': { $ref: '#/components/responses/BadRequest' } # e.g., trying to deactivate last admin
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /users/{id}/resend-invitation:
    post:
      tags: [ Users ]
      summary: Resend Invitation Email
      operationId: resendInvitation
      description: |
        Generates a new invitation token for an existing inactive user and sends them a new invitation email. 
        This is only valid for users who have not yet set their password.
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: "Invitation email has been successfully re-sent."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiSuccessMessage' }
        '400':
          description: "Bad Request. The user is already active or has already set a password."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiErrorResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  # --- Firm Paths ---
  /firms/admin/firms:
    get:
      tags: [ Admin - Firms ]
      summary: List All Firms (System Admin Only)
      operationId: adminListAllFirms
      description: "Retrieves a complete, paginated list of all firms in the system, including internal firms. This endpoint is restricted to System Administrators."
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Search'
      responses:
        '200':
          description: A complete list of all firms
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiListResponse_Firm'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [ Admin - Firms ]
      summary: Create a New Customer Firm (System Admin Only)
      operationId: adminCreateFirm
      description: "Allows a System Administrator to create a new customer firm. The 'isInternal' flag will be set to false automatically by the backend for firms created via this endpoint."
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCreateFirmRequest'
      responses:
        '201':
          description: Firm created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_Firm'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }

  /firms:
    get:
      tags: [ Firms ]
      summary: List Firms (Customer or Internal based on filter)
      operationId: listFirms
      description: "Retrieves a list of firms. System Admins can use the 'isInternal' query parameter to filter. If 'isInternal' is omitted, it defaults to returning only customer firms (isInternal=false)."
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Search'
        - name: isInternal
          in: query
          required: false
          schema:
            type: boolean
          description: "Filter firms by their internal status. If true, returns only internal firms. If false, returns only customer firms. If omitted, defaults to returning only customer firms (isInternal=false)."
      responses:
        '200':
          description: List of firms
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiListResponse_Firm'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /firms/directory:
    get:
      tags: [ Firms ]
      summary: Browse Firm Directory (Customer Firms Only)
      description: "Retrieves a paginated list of customer firms (isInternal=false by default on backend) for public browsing by authenticated users."
      operationId: getFirmDirectory
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/Page'
        - name: limit
          in: query
          schema: { type: integer, default: 9, minimum: 1, maximum: 48 }
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Order'
        - name: specialty
          in: query
          schema: { type: string }
        - name: jurisdiction
          in: query
          schema: { type: string }
        - name: caseStatusSubscriber
          in: query
          schema: { type: boolean }
      responses:
        '200':
          description: Paginated list of firms
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiListResponse_Firm' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /firms/specialties/list:
    get:
      tags: [ Firms ]
      summary: Get List of Specialties (Case Types) - System Names Only
      description: "Retrieves a list of available case type system names (e.g., personal_injury, tcpa). This endpoint returns only the system names for backwards compatibility with Salesforce and other external integrations. For display-friendly names, use /firms/specialties/detailed."
      operationId: getSpecialtiesList
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: List of case type system names
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_StringArray' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /firms/specialties/detailed:
    get:
      tags: [ Firms ]
      summary: Get List of Specialties with Display Names
      description: "Retrieves case types with both system names and display names. Use this endpoint for UI dropdowns and display purposes where properly formatted names are needed (e.g., 'Personal Injury' instead of 'personal_injury', 'TCPA' instead of 'tcpa')."
      operationId: getSpecialtiesDetailed
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: List of case types with display names
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_NamedOptionArray' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /firms/jurisdictions/list:
    get:
      tags: [ Firms ]
      summary: Get List of Jurisdictions
      operationId: getJurisdictionsList
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: List of jurisdiction codes
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_StringArray' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /firms/{id}:
    parameters: [ { $ref: '#/components/parameters/FirmId' } ]
    get:
      tags: [ Firms ]
      summary: Get Firm by ID
      operationId: getFirmById
      description: "Retrieves details for a specific firm. Access might be restricted for internal firms based on user role."
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: Firm details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_Firm' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      tags: [ Firms ]
      summary: Update Firm by ID
      operationId: updateFirmById
      description: "Requires Firm Admin (own firm) or System Admin. System Admins can also update 'referencePrefix'."
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateFirmRequest' }
      responses:
        '200':
          description: Updated firm details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_Firm' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  # --- Case Paths ---
  /cases/by-salesforce-id:
    get:
      tags: [ Cases ]
      summary: Find Case by Salesforce Record ID
      operationId: getCaseBySalesforceId
      description: |
        Checks if a CaseXchange case exists for a given Salesforce record ID and object type, scoped to the calling user's firm.
        Returns case info regardless of status (including rejected/withdrawn cases) to enable re-referral workflows.
        Used by Salesforce LWC to determine whether to show: create form, re-refer form, or blocked UI.
      security:
        - bearerAuth: [ ] # Requires auth (e.g., SF Service Account User)
      parameters:
        - name: sfRecordId
          in: query
          required: true
          schema:
            type: string
            minLength: 15
            maxLength: 18
          description: "The 15 or 18 character Salesforce Record ID."
        - name: sfObjectType
          in: query
          required: true
          schema:
            type: string
            minLength: 1
          description: "The API Name of the Salesforce SObject (e.g., Case, litify_pm__Intake__c)."
      responses:
        '200':
          description: |
            Successfully checked. 'data' will contain case info if a referral exists (regardless of status), otherwise 'data' will be null.
            The 'isActive' boolean indicates whether the case can accept new actions (true) or is in a re-referable state (false).
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessResponseBase'
                  - type: object
                    properties:
                      data:
                        type: object
                        nullable: true
                        properties:
                          id: 
                            type: string
                            format: uuid
                            description: "BaseCase ID - use this for re-refer endpoint"
                          referenceNumber: 
                            type: string
                            nullable: true
                          status: 
                            $ref: '#/components/schemas/CaseStatus'
                            description: "Status of the latest referral"
                          title: 
                            type: string
                            nullable: true
                          clientFirstName: 
                            type: string
                            nullable: true
                          clientLastName: 
                            type: string
                            nullable: true
                          isActive:
                            type: boolean
                            description: |
                              True if referral is active (cannot create new referral).
                              False if referral is in terminal state (rejected/withdrawn) and can be re-referred.
                        example: 
                          id: "uuid-of-base-case"
                          referenceNumber: "CX-ABC123"
                          status: "rejected"
                          title: "Client Injury Case"
                          clientFirstName: "John"
                          clientLastName: "Doe"
                          isActive: false
        '400': { $ref: '#/components/responses/BadRequest' } # Missing query params
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /cases:
    get:
      tags: [ Cases ]
      summary: List Cases
      operationId: listCases
      description: |
        Returns a paginated case list scoped to the authenticated user and firm permissions.
        Supports search, sorting, view filters, status filters, and date range filtering.
      security:
        - bearerAuth: [ ]
      parameters:
        - { name: page, in: query, schema: { type: integer, default: 1 } }
        - { name: limit, in: query, schema: { type: integer, default: 20 } }
        - { name: search, in: query, schema: { type: string } }
        - { name: sort, in: query, schema: { type: string } }
        - { name: order, in: query, schema: { type: string, enum: [ asc, desc ] } }
        - { name: view, in: query, schema: { type: string, enum: [ sent, received, all ] } }
        - { name: status, in: query, schema: { type: string }, description: "Filter by CaseStatus (comma-separated, e.g., under_evaluation,discovery)" }
        - { name: caseType, in: query, schema: { type: string } }
        - { name: jurisdiction, in: query, schema: { type: string } }
        - { name: referringFirmId, in: query, schema: { type: string, format: uuid } }
        - { name: referentFirmId, in: query, schema: { type: string, format: uuid } }
        - { name: firmId, in: query, schema: { type: string, format: uuid }, description: "System Admin only: Filter by a firm involved either as referrer or referent." }
        - { name: fromDate, in: query, schema: { type: string, format: date-time } }
        - { name: toDate, in: query, schema: { type: string, format: date-time } }
      responses:
        '200':
          description: Paginated list of case summaries
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiListResponse_CaseSummary' }
              examples:
                paginated_cases:
                  summary: First page of filtered cases
                  value:
                    success: true
                    data:
                      - id: 3c9b9ef8-2c31-4c65-a2ed-627c4699af0d
                        title: Client Injury Case
                        clientName: John Doe
                        referenceNumber: CX-ABC123
                        status: sent
                        caseType: personal_injury
                        jurisdiction: CA
                        createdAt: '2026-02-20T18:32:10.000Z'
                        updatedAt: '2026-02-21T13:02:44.000Z'
                    pagination:
                      total: 124
                      page: 1
                      limit: 20
                      totalPages: 7
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [ Cases ]
      summary: Create Case Referral
      operationId: createCase
      description: |
        Creates a new case referral record.
        Depending on business rules and the provided `referentFirmId`, the case may be created as a draft or enter a referral workflow.
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateCaseRequest' }
            examples:
              create_referral:
                summary: Create a referral with an initial referent firm
                value:
                  title: Client Injury Case
                  description: MVA referral requiring intake review
                  caseType: personal_injury
                  jurisdiction: CA
                  clientFirstName: John
                  clientLastName: Doe
                  clientEmail: john.doe@example.com
                  clientPhone: "+1-555-0100"
                  referentFirmId: 11111111-1111-1111-1111-111111111111
                  notes: Referred from landing page intake
      responses:
        '201':
          description: Case created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_CaseDetail' }
              examples:
                created:
                  summary: Case created successfully
                  value:
                    success: true
                    data:
                      id: 3c9b9ef8-2c31-4c65-a2ed-627c4699af0d
                      title: Client Injury Case
                      caseType: personal_injury
                      jurisdiction: CA
                      clientFirstName: John
                      clientLastName: Doe
                      status: draft
                      referringFirmId: 8b6fd7f7-0ef6-4a5f-99f8-76b5b78ec5f1
                      referentFirmId: 11111111-1111-1111-1111-111111111111
                      referenceNumber: null
                      createdAt: '2026-02-21T13:02:44.000Z'
                      updatedAt: '2026-02-21T13:02:44.000Z'
                    message: null
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: "Referent Firm not found", content: { application/json: { schema: { $ref: '#/components/schemas/ApiErrorResponse' } } } }

  /cases/bulk-import:
    post:
      tags: [ Cases, CSV Import ]
      summary: Bulk Import Cases via CSV
      description: "Processes a CSV file to create cases. If a default referent firm is provided, valid cases are created with status 'sent', otherwise they are created as 'draft'."
      operationId: bulkImportCases
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema: { $ref: '#/components/schemas/CsvImportRequest' }
      responses:
        '200':
          description: Import results
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_CsvImportResult' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /cases/{id}:
    parameters: [ { $ref: '#/components/parameters/CaseId' } ]
    get:
      tags: [ Cases ]
      summary: Get Case Details by ID
      operationId: getCaseById
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: Case details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_CaseDetail' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      tags: [ Cases ]
      summary: Update Case Details
      description: |
        Updates specific fields of a case. Not to be used for status changes.
        The backend enforces strict, field-level permissions. For example, a receiving firm cannot edit client PII, and a referring firm can only edit notes after a case has been acknowledged.
      operationId: updateCaseById
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateCaseRequest' } # This schema will be updated
      responses:
        '200':
          description: Updated case details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_CaseDetail' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' } # Now more relevant
        '404': { $ref: '#/components/responses/NotFound' }

  /cases/{id}/re-refer:
    post:
      tags: [ Cases ]
      summary: Re-Refer Case to New Firm
      operationId: reReferCase
      description: |
        Creates a new referral for an existing case to a different receiving firm.
        This is used when a previous referral was rejected or withdrawn and the case needs to be sent to a new firm.
        
        **Business Rules:**
        - Only the case owner (referring firm) or admin can re-refer
        - The current referral must be in 'rejected' or 'withdrawn' status
        - A firm relationship must exist with the new receiving firm
        - Cannot re-refer to a firm that already has an active referral for this case
        
        **What happens:**
        1. Creates a new Referral record (with incremented sequence number)
        2. New referral starts in 'sent' status
        3. Email notification sent to new receiving firm
        4. Salesforce Intake sync triggered if new firm has it enabled
        5. DearLegal sync triggered if new firm has it enabled
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/CaseId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ referentFirmId ]
              properties:
                referentFirmId:
                  type: string
                  format: uuid
                  description: "ID of the new receiving firm"
                notes:
                  type: string
                  description: "Optional internal notes specific to this referral"
              example:
                referentFirmId: "uuid-of-new-firm"
                notes: "Re-referring after client requested different firm"
      responses:
        '201':
          description: "Re-referral created successfully"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessResponseBase'
                  - type: object
                    properties:
                      message: { type: string, example: "Case successfully re-referred" }
                      data: { $ref: '#/components/schemas/ReferralDetail' }
        '400':
          description: "Bad Request - Case is not in a re-referable state (not rejected/withdrawn)"
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiErrorResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403':
          description: "Forbidden - User doesn't own the case, firm can't send referrals, or no relationship with target firm"
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiErrorResponse' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: "Conflict - An active referral to this firm already exists"
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiErrorResponse' }

  /cases/{id}/link-cs:
    post:
      tags: [ Cases, Integrations ]
      summary: Link Case to Case Status
      description: "Allows a referent firm to link this case to an external case in their Case Status system by providing their system's ID. This enables automatic status synchronization."
      operationId: linkCaseToCaseStatus
      security: [ { bearerAuth: [ ] } ]
      parameters: [ { $ref: '#/components/parameters/CaseId' } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LinkCaseToCsRequest' }
      responses:
        '200':
          description: "Case linked successfully."
          content: { application/json: { schema: { $ref: '#/components/schemas/ApiResponse_CaseDetail' } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [ Cases, Integrations ]
      summary: Unlink Case from Case Status
      operationId: unlinkCaseFromCaseStatus
      description: "Removes the link between a CaseXchange case and its corresponding entry in the Case Status platform. This stops all future automatic and manual synchronization for the case until it is linked again."
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/CaseId'
      responses:
        '200':
          description: "Case unlinked successfully. The response contains the updated case details with cleared linking fields."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_CaseDetail' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /cases/{id}/sync-cs:
    post:
      tags: [ Cases, Integrations ]
      summary: Manually Sync Case from Case Status
      operationId: syncCaseFromCaseStatus
      description: "Triggers an on-demand, immediate synchronization attempt for a single case that is already linked to the Case Status platform. This is useful for demos or when an immediate status update is desired."
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/CaseId'
      responses:
        '200':
          description: "Sync successful. The case data in the response is now up-to-date."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_CaseDetail' }
        '400':
          description: "Bad Request. The case may not be linked to Case Status, or the firm's integration may be inactive."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiErrorResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404':
          description: "Not Found. The case was not found in CaseXchange or was not found in the recent batch of updates from the Case Status API."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiErrorResponse' }
        '502':
          description: "Bad Gateway. Could not communicate with the Case Status API."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiErrorResponse' }

  /cases/{id}/send:
    post:
      tags: [ Cases ]
      summary: Send a Draft Case Referral
      operationId: sendDraftReferral
      description: Assigns a referent firm to a DRAFT case and transitions its status to SENT.
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/CaseId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendDraftReferralRequest'
      responses:
        '200':
          description: Referral sent successfully
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_CaseDetail' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /cases/{id}/acknowledge-receipt:
    post:
      tags: [ Cases ]
      summary: Acknowledge Receipt of a Referral
      operationId: acknowledgeReceipt
      description: "Referent Firm only: Acknowledges receipt of a 'sent' case, making client PII visible and transitioning the status to 'under_evaluation'."
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/CaseId'
      responses:
        '200':
          description: "Referral receipt acknowledged."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_CaseDetail' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /cases/{id}/begin-investigating:
    post:
      tags: [ Cases ]
      summary: Begin Investigation for a Case
      description: "Referent Firm only: Moves a case from 'under_evaluation' to 'investigating'."
      operationId: beginInvestigating
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/CaseId'
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NotesRequest' }
      responses:
        '200':
          description: "Case moved to Investigation phase."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_CaseDetail' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /cases/{id}/start-litigation:
    post:
      tags: [ Cases ]
      summary: Start Litigation for a Case
      operationId: startLitigation
      description: "Referent Firm only: Moves a case from 'signed' to 'in_litigation'."
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/CaseId'
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NotesRequest' }
      responses:
        '200':
          description: "Case moved to In Litigation phase."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_CaseDetail' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /cases/{id}/mark-won:
    post:
      tags: [ Cases ]
      summary: Mark a Case as Won
      operationId: markCaseAsWon
      description: "Referent Firm only: Marks a case as won and records financial details."
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/CaseId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MarkAsWonRequest' }
      responses:
        '200':
          description: "Case marked as Won."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_CaseDetail' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /cases/{id}/mark-lost:
    post:
      tags: [ Cases ]
      summary: Mark a Case as Lost
      operationId: markCaseAsLost
      description: "Referent Firm only: Marks a case outcome as lost."
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/CaseId'
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NotesRequest' }
      responses:
        '200':
          description: "Case marked as Lost."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_CaseDetail' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /cases/{id}/close:
    post:
      tags: [ Cases ]
      summary: Close a Case
      operationId: closeCase
      description: "Referent Firm only: Moves a case to its terminal 'closed' state. Requires a reason."
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/CaseId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CloseCaseRequest' }
      responses:
        '200':
          description: "Case closed."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_CaseDetail' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /cases/{id}/reject:
    post:
      tags: [ Cases ]
      summary: Reject Case Referral
      operationId: rejectCase
      description: "Referent Firm only: Rejects a case that is under evaluation or investigation."
      security:
        - bearerAuth: [ ]
      parameters: [ { $ref: '#/components/parameters/CaseId' } ]
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RejectCaseRequest' }
      responses:
        '200':
          description: "Case rejected"
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_CaseDetail' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /cases/{id}/withdraw:
    post:
      tags: [ Cases ]
      summary: Withdraw Case Referral
      operationId: withdrawCase
      description: "Referring Firm only: Withdraws a case before it is signed."
      security:
        - bearerAuth: [ ]
      parameters: [ { $ref: '#/components/parameters/CaseId' } ]
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WithdrawCaseRequest' }
      responses:
        '200':
          description: "Case withdrawn"
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_CaseDetail' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /cases/{id}/mark-signed:
    post:
      tags: [ Cases ]
      summary: Mark Case as Signed
      description: "Referent Firm only: Moves a case from 'under_evaluation' or 'investigating' to 'signed'."
      operationId: markCaseSigned
      security:
        - bearerAuth: [ ]
      parameters: [ { $ref: '#/components/parameters/CaseId' } ]
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MarkSignedRequest' }
      responses:
        '200':
          description: "Case marked as Signed"
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_CaseDetail' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /cases/{id}/status-updates:
    parameters: [ { $ref: '#/components/parameters/CaseId' } ]
    get:
      tags: [ Status Updates, Cases ]
      summary: Get Case Status History
      operationId: getCaseStatusUpdates
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: List of status updates
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_StatusUpdateArray' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      tags: [ Status Updates, Cases ]
      summary: Create Manual Status Update
      operationId: createManualStatusUpdate
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/StatusUpdateRequest' }
      responses:
        '201':
          description: Status update created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_StatusUpdate' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /cases/{id}/documents:
    parameters: [ { $ref: '#/components/parameters/CaseId' } ]
    get:
      tags: [ Documents, Cases ]
      summary: List Documents for a Case
      operationId: listCaseDocuments
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Paginated list of documents
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiListResponse_Document' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      tags: [ Documents, Cases ]
      summary: Upload Document for a Case
      operationId: uploadCaseDocument
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema: { $ref: '#/components/schemas/UploadDocumentRequest' }
      responses:
        '201':
          description: Document uploaded
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_Document' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /documents:
    get:
      tags: [ Documents ]
      summary: List Accessible Documents
      operationId: listDocuments
      security:
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - name: caseId
          in: query
          required: false
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Paginated list of documents
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiListResponse_Document' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /documents/{id}:
    parameters: [ { $ref: '#/components/parameters/DocumentId' } ]
    get:
      tags: [ Documents ]
      summary: Get Document Details
      operationId: getDocumentById
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: "Document details"
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_Document' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [ Documents ]
      summary: Delete Document
      operationId: deleteDocumentById
      description: Uploader or Admin only.
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: "Document deleted"
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiSuccessMessage' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /documents/{id}/download:
    parameters: [ { $ref: '#/components/parameters/DocumentId' } ]
    get:
      tags: [ Documents ]
      summary: Get Document Download URL
      operationId: getDocumentDownloadUrl
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: Secure download URL
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_DocumentDownloadResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /csv/template:
    get:
      tags: [ CSV Import ]
      summary: Download CSV Import Template
      operationId: downloadCsvTemplate
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: CSV template file
          content:
            text/csv:
              schema: { type: string, format: binary }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /csv/validate:
    post:
      tags: [ CSV Import ]
      summary: Validate CSV File for Import
      operationId: validateCsvImport
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema: { $ref: '#/components/schemas/CsvValidateRequest' }
      responses:
        '200':
          description: Validation results
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_ValidateCsvResult' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /integrations:
    get:
      tags: [ Integrations ]
      summary: Get Integration Settings for Current Firm
      operationId: getCurrentFirmIntegrationSettings
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: "Settings status"
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_IntegrationSettingsResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    put:
      tags: [ Integrations ]
      summary: Update Integration Settings for Current Firm
      operationId: updateCurrentFirmIntegrationSettings
      description: Requires Firm Admin role.
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateIntegrationPayload' }
      responses:
        '200':
          description: "Settings updated"
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_IntegrationSettingsResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /integrations/{firmId}:
    parameters:
      - name: firmId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [ Integrations ]
      summary: Get Integration Settings for Specific Firm (Admin)
      operationId: getSpecificFirmIntegrationSettings
      description: Requires System Admin role.
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: "Settings status"
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_IntegrationSettingsResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      tags: [ Integrations ]
      summary: Update Integration Settings for Specific Firm (Admin)
      operationId: updateSpecificFirmIntegrationSettings
      description: Requires System Admin role.
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateIntegrationPayload' }
      responses:
        '200':
          description: "Settings updated"
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_IntegrationSettingsResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /integrations/case-status/status/{firmId}:
    parameters:
      - name: firmId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [ Integrations ]
      summary: Get Case Status Integration Status
      operationId: getCaseStatusIntegrationStatus
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: "CS config status"
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_CaseStatusIntegrationStatusData' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /integrations/case-status/webhook/{firmId}:
    parameters:
      - name: firmId
        in: path
        required: true
        schema: { type: string, format: uuid }
    post:
      tags: [ Integrations ]
      summary: Case Status Webhook Endpoint
      operationId: handleCaseStatusWebhook
      parameters:
        - name: "X-Case-Status-Signature"
          in: header
          required: true
          schema: { type: string }
          description: "HMAC signature"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CaseStatusWebhookPayload' }
      responses:
        '200':
          description: "Webhook received"
          content:
            application/json:
              schema:
                type: object
                properties: { success: { type: boolean }, message: { type: string } }
        '401':
          description: "Invalid signature (Internal Error)"

  /integrations/salesforce/oauth/start:
    get:
      tags: [ Integrations ]
      summary: Start Salesforce OAuth Flow
      operationId: startSalesforceOAuth
      security:
        - bearerAuth: [ ]
      responses:
        '302':
          description: "Redirects to Salesforce authorization URL."
        '400':
          description: "User has no firm or other configuration issue."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiErrorResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500':
          description: "Salesforce Client ID or other critical config not set up on backend."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiErrorResponse' }

  /integrations/salesforce/oauth/callback:
    get:
      tags: [ Integrations ]
      summary: Salesforce OAuth Callback Handler
      operationId: handleSalesforceOAuthCallback
      parameters:
        - name: code
          in: query
          required: false
          schema: { type: string }
        - name: state
          in: query
          required: true
          schema: { type: string }
          description: "The 'state' parameter originally sent, which is the CaseXchange firmId."
        - name: error
          in: query
          required: false
          schema: { type: string }
        - name: error_description
          in: query
          required: false
          schema: { type: string }
      responses:
        '302':
          description: "Redirects back to frontend settings page with success/error query params."

  /integrations/salesforce/sync:
    post:
      tags: [ Integrations ]
      summary: Trigger On-Demand Salesforce Status Sync
      operationId: triggerSalesforceSyncCurrentFirm
      description: "Runs the Salesforce status synchronization job immediately for the authenticated user's firm."
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: "Sync triggered."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiSuccessMessage' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /integrations/salesforce/sync/{firmId}:
    parameters:
      - name: firmId
        in: path
        required: true
        schema: { type: string, format: uuid }
        description: "Target firm ID. Requires System Admin role unless firmId belongs to the requester."
    post:
      tags: [ Integrations ]
      summary: Trigger On-Demand Salesforce Sync for Specific Firm
      operationId: triggerSalesforceSyncForFirm
      description: "Runs the Salesforce status synchronization job immediately for the specified firm."
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: "Sync triggered."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiSuccessMessage' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /integrations/case-status/unmasked-key/{firmId}:
    parameters:
      - name: firmId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [ Integrations ]
      summary: Get Unmasked Case Status API Key (Admin)
      operationId: getUnmaskedCaseStatusKey
      description: "Requires Firm Admin or System Admin. Securely retrieves the raw, unmasked Case Status API key for the specified firm for temporary display."
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: "The unmasked API key."
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccessResponseBase'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          apiKey:
                            type: string
                            nullable: true
                            example: "cs_live_xxxxxxxxxxxxxxxxxxxx"
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /analytics:
    get:
      tags: [ Analytics ]
      summary: Get Comprehensive Analytics Data
      description: "Retrieves role-centric analytics data for a firm. The response is split into two main sections: 'referrerAnalytics' (for cases the firm sent) and 'receiverAnalytics' (for cases the firm received). System Admins see platform-wide data unless a 'firmId' query parameter is provided."
      operationId: getAnalyticsData
      security:
        - bearerAuth: [ ]
      parameters:
        - name: startDate
          in: query
          required: false
          schema: { type: string, format: date }
        - name: endDate
          in: query
          required: false
          schema: { type: string, format: date }
        - name: firmId
          in: query
          required: false
          schema: { type: string, format: uuid }
          description: "System Admin only: Filter analytics data for a specific firm ID."
      responses:
        '200':
          description: Aggregated, role-centric analytics data
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_ComprehensiveAnalyticsData' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /analytics/dashboard/summary:
    get:
      tags: [ Analytics ]
      summary: Get Dashboard Summary
      description: Retrieves key metrics and a list of recent activities for the main dashboard.
      operationId: getDashboardSummary
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: Dashboard summary data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_DashboardSummaryData'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /routing/evaluate-api:
    post:
      tags: [ Routing ]
      summary: Evaluate Routing Rules for API Access
      description: |
        Evaluates routing rules based on Severity (tier), Case Type, and Jurisdiction.
        Returns the correct firm to route to along with whether that firm is active in Case Xchange.
        The routing evaluation is specific to the firm authorization that called this endpoint (determined from the JWT token).
        This endpoint functions like "Test Routing" but is designed specifically for API access.
      operationId: evaluateRoutingForApi
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvaluateRoutingForApiRequest'
            examples:
              personal_injury_ca:
                summary: Severity + case type + jurisdiction
                value:
                  severity: 1
                  caseType: personal_injury
                  jurisdiction: CA
      responses:
        '200':
          description: Routing evaluation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_RoutingEvaluationResult'
              examples:
                matched_firm:
                  summary: Routing matched a participating firm
                  value:
                    success: true
                    data:
                      firm:
                        id: 11111111-1111-1111-1111-111111111111
                        name: West Coast Injury LLP
                        contactEmail: intake@wcinjury.example
                        contactPhone: "+1-555-0199"
                        isExternalContact: false
                    message: null
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  # --- Demo Seed Paths ---
  /admin/seed:
    get:
      tags: [ Demo Seed ]
      summary: List seed runs
      description: |
        Returns all seed runs ordered most-recent first.

        **Non-production only** — returns `403 Forbidden` when `NODE_ENV=production`.
        Requires the `ADMIN` role.
      operationId: listSeedRuns
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: List of seed runs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiListResponse_SeedRun'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

    post:
      tags: [ Demo Seed ]
      summary: Run a demo seed
      description: |
        Populates the database with realistic demo data across the requested modules
        (CaseX, LeadX, Ads). All created records are tagged and can be fully removed
        via the cleanup endpoints.

        **Non-production only** — returns `403 Forbidden` when `NODE_ENV=production`.
        Requires the `ADMIN` role.

        A `SeedRun` record is persisted before seeding begins. If the seed fails,
        the transaction rolls back (no partial data is committed) and the record is
        updated to `failed`.
      operationId: runDemoSeed
      security:
        - bearerAuth: [ ]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SeedRunOptions'
            examples:
              defaults:
                summary: All defaults
                value: {}
              casexOnly:
                summary: CaseX only, clean first
                value: { firmCount: 5, casesPerFirm: 8, modules: [ casex ], clean: true }
              large:
                summary: Large dataset
                value: { firmCount: 30, casesPerFirm: 50, modules: [ casex, leadx, ads ] }
      responses:
        '200':
          description: Seed completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_SeedRun'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

    delete:
      tags: [ Demo Seed ]
      summary: Clean all demo data
      description: |
        Permanently deletes all firms, users, cases, referrals, leads, and ads
        created by every seed run, then removes all `SeedRun` records.

        Deletes are performed in FK-safe order:
        advertisements → leads → integration configs → referrals → base cases →
        notification emails/routes → users → firms → seed_runs.

        **Non-production only** — returns `403 Forbidden` when `NODE_ENV=production`.
        Requires the `ADMIN` role.
      operationId: cleanAllSeedRuns
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: All demo data removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_CleanSeedResult'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /admin/seed/{id}:
    delete:
      tags: [ Demo Seed ]
      summary: Clean a specific seed run
      description: |
        Removes only the data created by the specified seed run, using the firm IDs
        and advertisement IDs stored in that `SeedRun` record. Other runs' data is
        left untouched.

        **Non-production only** — returns `403 Forbidden` when `NODE_ENV=production`.
        Requires the `ADMIN` role.
      operationId: cleanSeedRun
      security:
        - bearerAuth: [ ]
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the seed run to clean
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Seed run data removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_CleanSeedResult'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Send a JWT access token in the `Authorization` header using the `Bearer` scheme.
        Example: `Authorization: Bearer eyJ...`

  parameters:
    Page: { name: page, in: query, required: false, schema: { type: integer, minimum: 1, default: 1 } }
    Limit: { name: limit, in: query, required: false, schema: { type: integer, minimum: 1, maximum: 100, default: 20 } }
    Search: { name: search, in: query, required: false, schema: { type: string } }
    Sort: { name: sort, in: query, required: false, schema: { type: string } }
    Order: { name: order, in: query, required: false, schema: { type: string, enum: [ asc, desc ], default: desc } }
    UserId: { name: id, in: path, required: true, schema: { type: string, format: uuid }, description: "User UUID" }
    FirmId: { name: id, in: path, required: true, schema: { type: string, format: uuid }, description: "Firm UUID" }
    CaseId: { name: id, in: path, required: true, schema: { type: string, format: uuid }, description: "Case UUID" }
    DocumentId: { name: id, in: path, required: true, schema: { type: string, format: uuid }, description: "Document UUID" }

  responses:
    Unauthorized:
      description: Authentication failed or token expired.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiErrorResponse' }
          examples:
            token_expired:
              summary: Expired bearer token
              value:
                success: false
                error:
                  code: unauthorized
                  message: Access token expired
                  details: null
                message: Re-authentication required
    Forbidden:
      description: Insufficient permissions or action not allowed.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiErrorResponse' }
          examples:
            insufficient_role:
              summary: Role lacks permission
              value:
                success: false
                error:
                  code: forbidden
                  message: You do not have permission to perform this action
                  details: null
                message: Requires firm_admin role
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiErrorResponse' }
          examples:
            missing_case:
              summary: Referenced case does not exist
              value:
                success: false
                error:
                  code: not_found
                  message: Case not found
                  details: null
                message: null
    BadRequest:
      description: Invalid request input or validation error.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiErrorResponse' }
          examples:
            validation_error:
              summary: Invalid request body
              value:
                success: false
                error:
                  code: validation_error
                  message: Request validation failed
                  details:
                    - field: referentFirmId
                      message: must be a valid UUID
                    - field: jurisdiction
                      message: is required
                message: null
    Conflict:
      description: Resource conflict (e.g., email or firm name exists).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiErrorResponse' }
          examples:
            duplicate_resource:
              summary: Duplicate record
              value:
                success: false
                error:
                  code: conflict
                  message: A resource with these attributes already exists
                  details: null
                message: null
    UserProfileResponse:
      description: User details
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiResponse_User' }
          examples:
            current_user:
              summary: Authenticated user profile
              value:
                success: true
                data:
                  id: 9f1c1f5d-8f0a-4ae0-91f7-7f0f1d71fd10
                  email: integration-user@example.com
                  firstName: Pat
                  lastName: Lee
                  role: member
                  firmId: 8b6fd7f7-0ef6-4a5f-99f8-76b5b78ec5f1
                  isActive: true
                message: null

  schemas:
    UserRole: { type: string, enum: [ admin, firm_admin, member ] }
    CaseStatus:
      type: string
      enum: [ draft, sent, received, under_evaluation, investigating, signed, in_litigation, won, lost, rejected, withdrawn, closed ]
    StatusSource: { type: string, enum: [ manual, case_status, salesforce, system ] }

    ApiErrorObject:
      type: object
      required: [ code, message ]
      properties:
        code: { type: string, example: validation_error }
        message: { type: string, example: Request validation failed }
        details:
          type: array
          items: { type: object }
          nullable: true
          example:
            - field: email
              message: must be a valid email address
    ApiErrorResponse:
      type: object
      required: [ success, error ]
      properties:
        success: { type: boolean, example: false }
        error: { $ref: '#/components/schemas/ApiErrorObject' }
        message: { type: string, nullable: true, example: null }
    PaginationInfo:
      type: object
      required: [ total, page, limit, totalPages ]
      properties:
        total: { type: integer, example: 124 }
        page: { type: integer, example: 2 }
        limit: { type: integer, example: 20 }
        totalPages: { type: integer, example: 7 }
    ApiSuccessMessage:
      type: object
      required: [ success, message ]
      properties:
        success: { type: boolean, example: true }
        message: { type: string, example: Operation completed successfully }
    ApiSuccessResponseBase:
      type: object
      required: [ success ]
      properties:
        success: { type: boolean, example: true }
        message: { type: string, nullable: true, example: null }
    NamedOption:
      type: object
      required: [ name ]
      properties:
        name:
          type: string
          description: System name (e.g., personal_injury)
          example: personal_injury
        displayName:
          type: string
          description: Display name for UI (e.g., Personal Injury). May be omitted when unavailable.
          example: Personal Injury
    ApiResponse_NamedOptionArray:
      allOf:
        - $ref: '#/components/schemas/ApiSuccessResponseBase'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/NamedOption'

    AddressData: { type: object, properties: { street: { type: string, nullable: true }, city: { type: string, nullable: true }, state: { type: string, nullable: true }, zipCode: { type: string, nullable: true }, country: { type: string, nullable: true } }, nullable: true }
    BasicFirmInfo: { type: object, required: [ id, name ], properties: { id: { type: string, format: uuid }, name: { type: string } }, nullable: true }
    BasicUserInfo: { type: object, required: [ id, firstName, lastName ], properties: { id: { type: string, format: uuid }, firstName: { type: string }, lastName: { type: string } }, nullable: true }

    _FirmApiResponseData_Def:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string, nullable: true }
        canSendReferrals: { type: boolean, description: "Indicates if the firm is a paying customer with privileges to send referrals." }
        caseStatusSubscriber: { type: boolean, description: "A calculated field indicating if the firm has an active, configured integration with the Case Status platform." }
        contactEmail: { type: string, format: email }
        contactPhone: { type: string, nullable: true }
        website: { type: string, format: url, nullable: true }
        address: { $ref: '#/components/schemas/AddressData' }
        specialties: { type: array, items: { type: string } }
        jurisdictions: { type: array, items: { type: string } }
        referencePrefix: { type: string, nullable: true, description: "Firm-specific prefix for Case ID generation." }
        lastCaseReferenceSequence: { type: integer, description: "Last sequence number used for Case ID generation." }
        isInternal: { type: boolean, description: "Indicates if the firm is for internal system use." }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    FirmApiResponseData: { $ref: '#/components/schemas/_FirmApiResponseData_Def' }

    _UserApiResponseData_Def: { type: object, properties: { id: { type: string, format: uuid }, email: { type: string, format: email }, firstName: { type: string }, lastName: { type: string }, role: { $ref: '#/components/schemas/UserRole' }, firmId: { type: string, format: uuid }, isActive: { type: boolean }, lastLogin: { type: string, format: date-time, nullable: true }, createdAt: { type: string, format: date-time }, updatedAt: { type: string, format: date-time }, firm: { $ref: '#/components/schemas/BasicFirmInfo' } } }
    UserApiResponseData: { $ref: '#/components/schemas/_UserApiResponseData_Def' }

    _DocumentApiResponse_Def: { type: object, properties: { id: { type: string, format: uuid }, caseId: { type: string, format: uuid }, fileName: { type: string }, fileType: { type: string }, fileSize: { type: integer }, uploadedAt: { type: string, format: date-time }, uploadedById: { type: string, format: uuid }, uploadedBy: { $ref: '#/components/schemas/BasicUserInfo' }, contentType: { type: string }, isPublic: { type: boolean } } }
    DocumentApiResponse: { $ref: '#/components/schemas/_DocumentApiResponse_Def' }

    _StatusUpdateApiResponse_Def: { type: object, properties: { id: { type: string, format: uuid }, caseId: { type: string, format: uuid }, status: { $ref: '#/components/schemas/CaseStatus' }, message: { type: string, nullable: true }, createdAt: { type: string, format: date-time }, createdById: { type: string, format: uuid, nullable: true }, createdBy: { $ref: '#/components/schemas/BasicUserInfo' }, source: { $ref: '#/components/schemas/StatusSource' } } }
    StatusUpdateApiResponse: { $ref: '#/components/schemas/_StatusUpdateApiResponse_Def' }

    _CaseSummaryApiResponse_Def: { type: object, properties: { id: { type: string, format: uuid }, title: { type: string }, clientName: { type: string }, referringFirm: { $ref: '#/components/schemas/BasicFirmInfo' }, referentFirm: { allOf: [ { $ref: '#/components/schemas/BasicFirmInfo' }, { type: object, properties: { caseStatusSubscriber: { type: boolean } } } ], nullable: true }, referenceNumber: { type: string, nullable: true, description: "The system-generated human-readable Case ID (e.g., PREFIX-0001)." }, status: { $ref: '#/components/schemas/CaseStatus' }, caseType: { type: string }, jurisdiction: { type: string }, createdAt: { type: string, format: date-time }, updatedAt: { type: string, format: date-time } } }
    CaseSummaryApiResponse: { $ref: '#/components/schemas/_CaseSummaryApiResponse_Def' }

    _CaseDetailApiResponse_Def:
      type: object
      properties:
        id: { type: string, format: uuid }
        title: { type: string }
        description: { type: string, nullable: true }
        caseType: { type: string }
        jurisdiction: { type: string }
        clientFirstName: { type: string }
        clientLastName: { type: string }
        clientEmail: { type: string, format: email, nullable: true }
        clientPhone: { type: string, nullable: true }
        status: { $ref: '#/components/schemas/CaseStatus' }
        referringFirmId: { type: string, format: uuid }
        referringFirm: { $ref: '#/components/schemas/BasicFirmInfo' }
        referentFirmId: { type: string, format: uuid, nullable: true }
        referentFirm: { allOf: [ { $ref: '#/components/schemas/BasicFirmInfo' }, { type: object, properties: { caseStatusSubscriber: { type: boolean } } } ], nullable: true }
        referenceNumber: { type: string, nullable: true, description: "The system-generated human-readable Case ID (e.g., PREFIX-0001)." }
        externalId: { type: string, nullable: true }
        salesforceRecordId: { type: string, maxLength: 18, nullable: true }
        salesforceObjectType: { type: string, maxLength: 100, nullable: true }
        notes: { type: string, nullable: true }
        # --- NEW FIELDS ---
        settlementAmount:
          type: number
          format: double
          nullable: true
          description: "The final settlement amount for a 'won' case."
        attorneyFees:
          type: number
          format: double
          nullable: true
          description: "The final attorney fees for a 'won' case."
        closureReason:
          type: string
          nullable: true
          description: "The reason a case was moved to the 'closed' status."
        # --- END NEW FIELDS ---
        createdById: { type: string, format: uuid }
        createdBy: { $ref: '#/components/schemas/BasicUserInfo' }
        lastUpdatedById: { type: string, format: uuid, nullable: true }
        lastUpdatedBy: { $ref: '#/components/schemas/BasicUserInfo' }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        statusUpdates: { type: array, items: { $ref: '#/components/schemas/StatusUpdateApiResponse' }, nullable: true }
        documents: { type: array, items: { $ref: '#/components/schemas/DocumentApiResponse' }, nullable: true }

    CaseDetailApiResponse: { $ref: '#/components/schemas/_CaseDetailApiResponse_Def' }

    _LoginResponse_Def: { type: object, properties: { user: { $ref: '#/components/schemas/UserApiResponseData' }, accessToken: { type: string }, refreshToken: { type: string } } }
    LoginResponse: { $ref: '#/components/schemas/_LoginResponse_Def' }

    _RefreshTokenResponse_Def: { type: object, properties: { user: { $ref: '#/components/schemas/UserApiResponseData' }, accessToken: { type: string }, refreshToken: { type: string } } }
    RefreshTokenResponse: { $ref: '#/components/schemas/_RefreshTokenResponse_Def' }


    LoginRequest: { type: object, required: [ email, password ], properties: { email: { type: string, format: email }, password: { type: string, format: password } } }
    ChangePasswordRequest: { type: object, required: [ currentPassword, newPassword ], properties: { currentPassword: { type: string, format: password }, newPassword: { type: string, format: password, minLength: 6 } } }
    ForgotPasswordRequest: { type: object, required: [ email ], properties: { email: { type: string, format: email } } }
    ResetPasswordRequest: { type: object, required: [ token, password ], properties: { token: { type: string }, password: { type: string, format: password, minLength: 6 } } }
    CompleteInvitationRequest: # <<< NEW SCHEMA
      type: object
      required: [ token, password ]
      properties:
        token:
          type: string
          description: The invitation token received by the user.
        password:
          type: string
          format: password
          minLength: 6
          description: The new password chosen by the user.

    AdminCreateFirmRequest:
      type: object
      required: [ name, type, contactEmail ]
      properties:
        name: { type: string, minLength: 1, maxLength: 255, example: "New Customer Law LLP" }
        description: { type: string, nullable: true, example: "Specializing in corporate law and litigation." }
        canSendReferrals: { type: boolean, default: false }
        contactEmail: { type: string, format: email, maxLength: 255 }
        contactPhone: { type: string, nullable: true, maxLength: 50 }
        website: { type: string, format: url, nullable: true, maxLength: 255 }
        address: { $ref: '#/components/schemas/AddressData' }
        specialties: { type: array, items: { type: string }, default: [ ], example: [ "corporate_law" ] }
        jurisdictions: { type: array, items: { type: string }, default: [ ], example: [ "CA", "NY" ] }
        referencePrefix: { type: string, maxLength: 10, pattern: '^[A-Z0-9_-]*$', nullable: true, example: "NCLLP" }

    SendDraftReferralRequest:
      type: object
      required: [ referentFirmId ]
      description: "Payload for sending a draft case. Status transitions to 'sent'."
      properties:
        referentFirmId: { type: string, format: uuid, description: "The ID of the firm to send the draft referral to." }
        notes: { type: string, nullable: true, description: "Optional notes for sending the referral." }

    CreateUserRequest: # <<< UPDATED SCHEMA (password removed)
      type: object
      required: [ email, firstName, lastName, role, firmId ]
      properties:
        email: { type: string, format: email }
        firstName: { type: string, minLength: 1 }
        lastName: { type: string, minLength: 1 }
        role: { $ref: '#/components/schemas/UserRole' }
        firmId:
          type: string
          format: uuid
          description: "ID of the firm this user belongs to. System Admins can specify any valid customer firm ID. Firm Admins are restricted to their own firm ID (enforced by backend)."
    UpdateUserRequest: { type: object, properties: { firstName: { type: string, minLength: 1 }, lastName: { type: string, minLength: 1 }, role: { $ref: '#/components/schemas/UserRole' }, isActive: { type: boolean } } }
    UpdateProfileRequest: { type: object, properties: { firstName: { type: string, minLength: 1 }, lastName: { type: string, minLength: 1 } } }
    UpdateFirmRequest: { type: object, properties: { name: { type: string, minLength: 1 }, description: { type: string, nullable: true }, canSendReferrals: { type: boolean }, contactEmail: { type: string, format: email }, contactPhone: { type: string, nullable: true }, website: { type: string, format: url, nullable: true }, address: { $ref: '#/components/schemas/AddressData' }, specialties: { type: array, items: { type: string } }, jurisdictions: { type: array, items: { type: string } }, referencePrefix: { type: string, maxLength: 10, pattern: '^[A-Z0-9_-]*$', nullable: true, description: "Firm-specific prefix for Case IDs. Can only be set/changed by System Admin. Send null to clear." } } }
    CreateCaseRequest: { type: object, required: [ title, caseType, jurisdiction, clientFirstName, clientLastName ], properties: { title: { type: string, minLength: 1 }, description: { type: string, nullable: true }, caseType: { type: string, minLength: 1, description: "Case type - accepts either system names (e.g., personal_injury, tcpa) or display names (e.g., Personal Injury, TCPA). System name will be stored." }, jurisdiction: { type: string, minLength: 1 }, clientFirstName: { type: string, minLength: 1 }, clientLastName: { type: string, minLength: 1 }, clientEmail: { type: string, format: email, nullable: true }, clientPhone: { type: string, nullable: true }, referentFirmId: { type: string, format: uuid, nullable: true }, notes: { type: string, nullable: true }, salesforceRecordId: { type: string, maxLength: 18, nullable: true }, salesforceObjectType: { type: string, maxLength: 100, nullable: true } } }
    UpdateCaseRequest: { type: object, properties: { title: { type: string, minLength: 1 }, description: { type: string, nullable: true }, caseType: { type: string, minLength: 1, description: "Case type - accepts either system names (e.g., personal_injury, tcpa) or display names (e.g., Personal Injury, TCPA). System name will be stored." }, jurisdiction: { type: string, minLength: 1 }, clientFirstName: { type: string, minLength: 1 }, clientLastName: { type: string, minLength: 1 }, clientEmail: { type: string, format: email, nullable: true }, clientPhone: { type: string, nullable: true }, referentFirmId: { type: string, format: uuid, nullable: true }, notes: { type: string, nullable: true }, salesforceRecordId: { type: string, maxLength: 18, nullable: true }, salesforceObjectType: { type: string, maxLength: 100, nullable: true } } }
    StatusUpdateRequest: { type: object, required: [ status, message ], properties: { status: { $ref: '#/components/schemas/CaseStatus' }, message: { type: string, minLength: 1 }, source: { $ref: '#/components/schemas/StatusSource' } } }
    RejectCaseRequest: { type: object, description: "Payload for rejecting a case (from 'under_evaluation' or 'investigating').", properties: { reason: { type: string, nullable: true } } }
    WithdrawCaseRequest: { type: object, description: "Payload for withdrawing a case (from 'draft', 'sent', 'received', or 'under_evaluation').", properties: { reason: { type: string, nullable: true } } }
    StartDiscoveryRequest: { type: object, description: "DEPRECATED - Use NotesRequest with /begin-investigating endpoint.", properties: { notes: { type: string, nullable: true, description: "Optional notes for starting the discovery phase." } } }
    MarkSignedRequest: { type: object, properties: { notes: { type: string, nullable: true, description: "Optional notes for marking a case as signed." } } }
    NotesRequest:
      type: object
      properties:
        notes:
          type: string
          nullable: true
          description: "Optional notes for the action."

    LinkCaseToCsRequest: # <<< ADD IT HERE
      type: object
      required: [ csLinkUserId ]
      description: "Payload for linking a CaseXchange case to an external system's case ID, specifically for Case Status sync."
      properties:
        csLinkUserId:
          type: string
          description: "The ID of the case in the external system (e.g., the firm's own CMS ID or the Case Status Internal ID). This is used by the backend to find and link the records during synchronization."
          example: "P-55443"

    MarkAsWonRequest:
      type: object
      required: [ settlementAmount, attorneyFees ]
      properties:
        settlementAmount:
          type: number
          format: double
          description: "The final settlement amount for the case."
          example: 100000.00
        attorneyFees:
          type: number
          format: double
          description: "The attorney fees collected from the settlement."
          example: 33333.33
        notes:
          type: string
          nullable: true
          description: "Optional notes for the 'won' status update."

    CloseCaseRequest:
      type: object
      required: [ reason ]
      properties:
        reason:
          type: string
          minLength: 1
          description: "The required reason for closing the case."

    DocumentDownloadResponse: { type: object, required: [ downloadUrl, fileName, contentType ], properties: { downloadUrl: { type: string, format: url }, fileName: { type: string }, contentType: { type: string } } }
[...]
