openapi: 3.0.3
info:
  title: CaseXchange Public API
  version: 1.0.0
  description: |-
    The CaseXchange Public API enables law firms to integrate referral management
    directly into their own systems.

    ## Authentication
    All requests must include an `X-API-Key` header containing a valid API key
    (format: `cxp_<hex>`). Keys are scoped to a firm and an access tier.

    ## Access Tiers
    | Tier | Description |
    |------|-------------|
    | `read_only` | GET endpoints — read data without mutation |
    | `standard` | read_only + create/update case referrals |
    | `full` | standard + delete, routing rules, bulk import, firm mutation |

    ## Rate Limiting
    Rate limits are enforced per API key. Exceeded limits return `429 Too Many Requests`.

    ## Pagination
    List endpoints accept `page` (default 1) and `limit` (default 20, max 100) query params.

    ## Response Format
    Successful responses are wrapped in `{ data: T, meta: { requestId, timestamp } }`.
    Errors are wrapped in `{ error: { code, message }, meta: { requestId, timestamp } }`.
  contact:
    name: CaseXchange API Support
    url: https://casexchange.com
servers:
  - url: https://api.casexchange.com/api/public/v1
    description: Production Public API base path
  - url: /api/public/v1
    description: Relative base path (for proxied docs/local environments)
tags:
  - name: Account
    description: Identity of the calling API key and its firm
  - name: Referrals
    description: Referral records visible to the caller's firm as sender or receiver, and the lifecycle transitions on them
  - name: Received Referrals
    description: Receiver-centric view of referrals sent TO the caller's firm, addressable by UUID, reference number or CMS id
  - name: Sent Cases
    description: "Sender-side case management: create, track, and refer/route cases you own"
  - name: Status Updates
    description: Status-history and partner-message entries across the caller's referrals
  - name: Messages
    description: Partner messaging on a referral
  - name: Cases
    description: >-
      Legacy referral endpoints keyed by referral UUID, served from either party's perspective. Prefer Referrals,
      Received Referrals and Sent Cases for new integrations.
  - name: Documents
    description: Document upload, download, and management
  - name: Reference Data
    description: Case types, jurisdictions, and counties
  - name: Firms
    description: Firm directory and profile management
  - name: Network
    description: >-
      Referral relationships between the caller's firm and other firms. `outbound` is a relationship the caller sends
      referrals through (caller → target firm); `inbound` is one where the caller receives (source firm → caller).
      Requires a firm-scoped API key.
  - name: Routing
    description: Referral routing rules
  - name: Analytics
    description: Dashboard and case analytics
  - name: Export
    description: >-
      XLSX/CSV downloads of analytics and case data. Responses are binary attachments rather than the JSON envelope.
      Export endpoints carry an additional limit of 10 requests per API key per sliding minute, on top of the tier rate
      limits.
  - name: Import
    description: Bulk case import/update via CSV
  - name: Notifications
    description: Notification preferences and email management
  - name: Users
    description: User management within the caller's firm
  - name: External Links
    description: >-
      Links between a CaseXchange referral and a record in an external case-management system. Supported systems:
      `cloudlex`, `morgan_morgan`. Requires a firm-scoped API key.
  - name: Webhooks
    description: >-
      Outbound event subscriptions for Med Xchange providers. Webhook endpoints require a **provider-scoped** API key
      (`cxpp_*`); firm-scoped keys receive `403 wrong_scope`.


      Each delivery is an HTTPS POST of a JSON body `{ event, timestamp, data }` with headers `X-CaseXchange-Event`
      (event name), `X-CaseXchange-Delivery` (delivery UUID) and `X-CaseXchange-Signature` in the form
      `t=<unix-seconds>,v1=<hex>`, where `v1` is HMAC-SHA256(secret, `<t>.<rawBody>`). Failed deliveries are retried
      with back-off up to 5 attempts (10-second request timeout); after that the delivery is marked `EXHAUSTED`.


      Event types: `webhook.test`, `case.created`, `case.updated`, `case.archived`, `referral.sent`,
      `appointment.created`, `appointment.updated`, `appointment.deleted`, `billing.created`, `billing.updated`,
      `billing.deleted`, `diagnosis.created`, `diagnosis.updated`, `diagnosis.deleted`, `document.uploaded`,
      `document.deleted`, `injury.created`, `injury.updated`, `injury.deleted`, `insurance.created`,
      `insurance.updated`, `insurance.deleted`, `note.created`, `note.updated`, `note.deleted`, `prescription.created`,
      `prescription.updated`, `prescription.deleted`.
  - name: Med Cases
    description: Med Xchange cases and their nested referrals to medical providers
  - name: MedEx Documents
    description: Med Xchange case document listing and download
  - name: SSO
    description: Partner-initiated Med Xchange single sign-on. Requires a provider-scoped API key (`cxpp_*`).
  - name: Salesforce
    description: Org-facing endpoints consumed by the CaseXchange managed package
  - name: Extension
    description: Telemetry reported by the CaseXchange browser extension
  - name: Health
    description: Unauthenticated liveness probe
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Public API key (starts with cxp_). Required on every request.
  schemas:
    Firm:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        phone:
          type: string
          nullable: true
        address:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        state:
          type: string
          nullable: true
        zip:
          type: string
          nullable: true
        website:
          type: string
          format: uri
          nullable: true
        isInternal:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    CaseType:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        displayName:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
    Case:
      type: object
      description: >-
        A referral as seen by either party (the public API calls a referral a "case" on this path). Base-case fields are
        flattened onto the referral. Client fields are masked for SENT-status cases viewed by the receiving firm until
        acknowledged.
      properties:
        id:
          type: string
          format: uuid
          description: Referral UUID
        baseCaseId:
          type: string
          format: uuid
        referenceNumber:
          type: string
          nullable: true
          example: ABC-0001
        status:
          type: string
          description: CaseStatus enum value (legacy RECEIVED is published as under_evaluation).
        closingStatus: &ref_0
          type: string
          nullable: true
          enum:
            - won_settled
            - lost
            - no_longer_pursuing
          description: ClosingStatus enum value; null until the closing workflow starts.
        payoutType: &ref_1
          type: string
          nullable: true
          enum:
            - lump_sum
            - structured
            - hybrid
            - other
          description: How settlement funds are distributed; null until set during closing.
        closureReason: &ref_2
          type: string
          nullable: true
          description: Free-text reason recorded when the referral is closed; null until then.
        settlementAmount: &ref_3
          type: number
          minimum: 0
          maximum: 1000000000
          nullable: true
          description: Final settlement amount in dollars; null until recorded.
        attorneyFees: &ref_4
          type: number
          minimum: 0
          maximum: 1000000000
          nullable: true
          description: Total attorney fees in dollars; null until recorded.
        clientFeeAgreementPercentage: &ref_5
          type: number
          minimum: 0
          maximum: 1
          nullable: true
          description: >-
            Client fee agreement as a FRACTION of the settlement, 0–1 (0.3333 = 33.33%). Not a whole percent — contrast
            with sendingFirmPercentage.
        projectedSettlementAmount: &ref_6
          type: number
          minimum: 0
          maximum: 1000000000
          nullable: true
          description: Projected settlement amount in dollars, set while the case is open; null until estimated.
        estimatedDateOfResolution: &ref_7
          type: string
          format: date-time
          nullable: true
          description: Estimated resolution date (date-only on input, ISO 8601 on output); null until estimated.
        estimatedDistributionDate: &ref_8
          type: string
          format: date-time
          nullable: true
          description: Estimated distribution date (date-only on input, ISO 8601 on output); null until estimated.
        leadAttorneyName: &ref_9
          type: string
          nullable: true
          description: Lead attorney at the receiving firm; null until set.
        referringFirmId:
          type: string
          format: uuid
          description: Sending firm
        referentFirmId:
          type: string
          format: uuid
          nullable: true
          description: Receiving firm
        title:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        caseType:
          type: string
          nullable: true
        jurisdiction:
          type: string
          nullable: true
        county:
          type: string
          nullable: true
        clientFirstName:
          type: string
          nullable: true
        clientLastName:
          type: string
          nullable: true
        clientEmail:
          type: string
          format: email
          nullable: true
        clientPhone:
          type: string
          nullable: true
        clientDateOfBirth:
          type: string
          format: date
          nullable: true
        incidentDate:
          type: string
          format: date
          nullable: true
        notes:
          type: string
          nullable: true
          description: The sending firm's aggregated case notes.
        warmTransferSuccessful:
          type: boolean
          description: Whether the warm transfer to the receiving firm succeeded.
        warmTransferUnsuccessfulReason:
          type: string
          nullable: true
          description: >-
            Free-text explanation when the warm transfer was unsuccessful. Only populated when
            warmTransferUnsuccessfulReasonType is OTHER. Null until the referral is acknowledged (PII masking) when
            viewed by the receiving firm.
        warmTransferUnsuccessfulReasonType:
          type: string
          nullable: true
          enum:
            - FIRM_UNABLE_TO_ANSWER
            - CLIENT_UNABLE_TO_CONTINUE
            - OTHER
          description: >-
            Reason category for an unsuccessful warm transfer. Null until the referral is acknowledged (PII masking)
            when viewed by the receiving firm.
        sendingFirmPercentage:
          type: number
          nullable: true
          description: Referral fee owed to the sending firm as a whole-number percent of attorney fees (33.33 = 33.33%).
        netFeeToSendingFirm:
          type: number
          nullable: true
          description: >-
            attorneyFees × the sendingFirmPercentage published on this record ÷ 100, rounded to cents. Null when either
            input is missing or zero.
        netFeeToHandlingFirm:
          type: number
          nullable: true
          description: attorneyFees − netFeeToSendingFirm. Null when netFeeToSendingFirm is null.
        resolutionDate:
          type: string
          format: date-time
          nullable: true
          description: >-
            When the outcome was recorded: the most recent transition into CLOSING, or into WON/LOST for legacy
            referrals that never passed through CLOSING.
        closedDate:
          type: string
          format: date-time
          nullable: true
          description: The most recent transition into CLOSED.
        statuteOfLimitationsExpiration:
          type: string
          format: date-time
          nullable: true
        phase:
          type: string
          nullable: true
        isRetainerSigned:
          type: boolean
        sentDate:
          type: string
          format: date-time
          nullable: true
        signedDate:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    Document:
      type: object
      properties:
        id:
          type: string
          format: uuid
        caseId:
          type: string
          format: uuid
        fileName:
          type: string
        mimeType:
          type: string
        sizeBytes:
          type: integer
        uploadedBy:
          type: string
        createdAt:
          type: string
          format: date-time
    MedCaseDocument:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Document handle (MedCaseDocument junction id)
        fileName:
          type: string
        contentType:
          type: string
        fileSize:
          type: integer
          description: Raw byte size
        category:
          type: string
        source:
          type: string
          enum:
            - upload
            - litify_sync
            - premier_sync
        uploadedAt:
          type: string
          format: date-time
        pending:
          type: boolean
          description: If true, bytes are not yet materialized; first fetch may be slower.
        sharedWithProviders:
          type: boolean
          description: >-
            Whether providers on the case can currently see this document. Provider-scoped keys never receive hidden
            documents, so this is always true for them; firm-scoped keys see hidden documents flagged false.
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        firstName:
          type: string
        lastName:
          type: string
        role:
          type: string
          description: UserRole enum value
        isActive:
          type: boolean
        firmId:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
    RoutingRule:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        conditions:
          type: array
          items:
            type: object
        targetFirmId:
          type: string
          format: uuid
        priority:
          type: integer
        isActive:
          type: boolean
        firmId:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    SentCase:
      type: object
      description: >-
        A case from the sender (owning firm) perspective. Referral-level fields at the top level are the most recent
        referral's; `referrals` carries every referral on the case.
      properties:
        id:
          type: string
          format: uuid
          description: Base case UUID
        referenceNumber:
          type: string
          nullable: true
          example: ABC-0001
        salesforceId:
          type: string
          nullable: true
        salesforceObjectType:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        caseType:
          type: string
          nullable: true
        jurisdiction:
          type: string
          nullable: true
        county:
          type: string
          nullable: true
        clientAddress1:
          type: string
          nullable: true
        clientAddress2:
          type: string
          nullable: true
        clientCity:
          type: string
          nullable: true
        clientPostalCode:
          type: string
          nullable: true
        clientFirstName:
          type: string
          nullable: true
        clientLastName:
          type: string
          nullable: true
        clientEmail:
          type: string
          format: email
          nullable: true
        clientPhone:
          type: string
          nullable: true
        clientDateOfBirth:
          type: string
          format: date-time
          nullable: true
        incidentDate:
          type: string
          format: date-time
          nullable: true
        tier:
          type: integer
          minimum: 1
          maximum: 5
          nullable: true
          description: >-
            Sender-assigned case rating (1 = highest priority, 5 = lowest). Distinct from the API key access tier. Null
            when unrated.
        ratedTier:
          type: integer
          minimum: 1
          maximum: 5
          nullable: true
          description: Reserved for a future rating workflow; not currently populated.
        ratingNotes:
          type: string
          nullable: true
          description: Reserved for a future rating workflow; not currently populated.
        source:
          type: string
          nullable: true
        isTestCase:
          type: boolean
        createdBy:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        status:
          type: string
          description: Most recent referral's CaseStatus; `draft` when the case has no referral.
        closingStatus: *ref_0
        payoutType: *ref_1
        closureReason: *ref_2
        settlementAmount: *ref_3
        attorneyFees: *ref_4
        clientFeeAgreementPercentage: *ref_5
        projectedSettlementAmount: *ref_6
        estimatedDateOfResolution: *ref_7
        estimatedDistributionDate: *ref_8
        leadAttorneyName: *ref_9
        warmTransferSuccessful:
          type: boolean
          description: Whether the warm transfer to the receiving firm succeeded.
        warmTransferUnsuccessfulReason:
          type: string
          nullable: true
          description: >-
            Free-text explanation when the warm transfer was unsuccessful. Only populated when
            warmTransferUnsuccessfulReasonType is OTHER. Unmasked here — this is the sending firm's own data.
        warmTransferUnsuccessfulReasonType:
          type: string
          nullable: true
          enum:
            - FIRM_UNABLE_TO_ANSWER
            - CLIENT_UNABLE_TO_CONTINUE
            - OTHER
          description: Reason category for an unsuccessful warm transfer. Unmasked here — this is the sending firm's own data.
        netFeeToSendingFirm:
          type: number
          nullable: true
          description: >-
            attorneyFees × the receiving firm's stamped sending-firm percentage ÷ 100, rounded to cents (the percentage
            itself is not exposed on this resource). Null when either input is missing or zero.
        netFeeToHandlingFirm:
          type: number
          nullable: true
          description: attorneyFees − netFeeToSendingFirm. Null when netFeeToSendingFirm is null.
        resolutionDate:
          type: string
          format: date-time
          nullable: true
          description: >-
            When the outcome was recorded: the most recent transition into CLOSING, or into WON/LOST for legacy
            referrals that never passed through CLOSING.
        closedDate:
          type: string
          format: date-time
          nullable: true
          description: The most recent transition into CLOSED.
        statuteOfLimitationsExpiration:
          type: string
          format: date-time
          nullable: true
        phase:
          type: string
          nullable: true
        requiresUpdate:
          type: boolean
        customFields:
          type: array
          items:
            $ref: "#/components/schemas/CustomFieldValue"
        referrals:
          type: array
          description: All referrals on this case, most recent first.
          items:
            $ref: "#/components/schemas/SentCaseReferralSummary"
    SentCaseListItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        referenceNumber:
          type: string
          nullable: true
        salesforceId:
          type: string
          nullable: true
        receivingFirmName:
          type: string
          nullable: true
        receivingFirmId:
          type: string
          format: uuid
          nullable: true
        owningFirmId:
          type: string
          format: uuid
          nullable: true
        owningFirmName:
          type: string
          nullable: true
        status:
          type: string
          description: CaseStatus enum value
        closingStatus:
          type: string
          nullable: true
        tier:
          type: integer
          minimum: 1
          maximum: 5
          nullable: true
          description: >-
            Sender-assigned case rating (1 = highest priority, 5 = lowest). Distinct from the API key access tier. Null
            when unrated.
        warmTransferSuccessful:
          type: boolean
          description: >-
            Whether the sending firm's warm transfer to the receiving firm succeeded. Sourced from the most-recent
            referral.
        warmTransferUnsuccessfulReason:
          type: string
          nullable: true
          description: >-
            Free-text explanation when the warm transfer was unsuccessful. Only populated when
            warmTransferUnsuccessfulReasonType is OTHER. Unmasked here — this is the sending firm's own data.
        warmTransferUnsuccessfulReasonType:
          type: string
          nullable: true
          enum:
            - FIRM_UNABLE_TO_ANSWER
            - CLIENT_UNABLE_TO_CONTINUE
            - OTHER
          description: Reason category for an unsuccessful warm transfer.
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    SentCaseReferralSummary:
      type: object
      description: >-
        One referral on a sent case, most recent first. Carries that referral's own settlement and outcome so a
        re-referred case shows each attempt, not just the most recent one flattened onto the parent.
        sendingFirmPercentage and isRetainerSigned are receiver-managed and omitted.
      properties:
        id:
          type: string
          format: uuid
        referentFirmId:
          type: string
          format: uuid
          nullable: true
        referentFirmName:
          type: string
          nullable: true
        status:
          type: string
          description: CaseStatus enum value
        closingStatus: *ref_0
        payoutType: *ref_1
        closureReason: *ref_2
        settlementAmount: *ref_3
        attorneyFees: *ref_4
        clientFeeAgreementPercentage: *ref_5
        projectedSettlementAmount: *ref_6
        estimatedDateOfResolution: *ref_7
        estimatedDistributionDate: *ref_8
        leadAttorneyName: *ref_9
        netFeeToSendingFirm:
          type: number
          nullable: true
          description: >-
            attorneyFees × the receiving firm's stamped sending-firm percentage ÷ 100, rounded to cents (the percentage
            itself is not exposed on this resource). Null when either input is missing or zero.
        netFeeToHandlingFirm:
          type: number
          nullable: true
          description: attorneyFees − netFeeToSendingFirm. Null when netFeeToSendingFirm is null.
        resolutionDate:
          type: string
          format: date-time
          nullable: true
          description: >-
            When the outcome was recorded: the most recent transition into CLOSING, or into WON/LOST for legacy
            referrals that never passed through CLOSING.
        closedDate:
          type: string
          format: date-time
          nullable: true
          description: The most recent transition into CLOSED.
        notes:
          type: string
          nullable: true
        createdBy:
          type: string
          format: uuid
          nullable: true
        lastUpdatedBy:
          type: string
          format: uuid
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    CaseTypeField:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        displayName:
          type: string
        fieldType:
          type: string
        displayOrder:
          type: integer
        isRequired:
          type: boolean
        enumOptions:
          type: array
          nullable: true
          items:
            type: object
            properties:
              label:
                type: string
              value:
                type: string
        validationRule:
          type: object
          nullable: true
          properties:
            min:
              type: number
            max:
              type: number
            maxLength:
              type: integer
    AvailableFirm:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
          nullable: true
        jurisdictions:
          type: array
          items:
            type: string
        caseTypes:
          type: array
          items:
            type: string
        referralInstructions:
          type: string
          nullable: true
        source:
          type: string
          enum:
            - network
            - directory
          description: Whether the firm is in your private network or only in the public directory.
    BulkUpdateJob:
      type: object
      properties:
        jobId:
          type: string
          format: uuid
        status:
          type: string
        fileName:
          type: string
          nullable: true
        operationType:
          type: string
        totalRows:
          type: integer
          nullable: true
        processedRows:
          type: integer
        successfulRows:
          type: integer
        failedRows:
          type: integer
        progressPercent:
          type: integer
          nullable: true
        resultSummary:
          type: object
          nullable: true
        errorMessage:
          type: string
          nullable: true
        startedAt:
          type: string
          format: date-time
          nullable: true
        completedAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    RoutingEvaluation:
      type: object
      nullable: true
      description: The routing decision for a case profile, or null when no active rule matches.
      properties:
        rule:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
        selectedFirmId:
          type: string
          format: uuid
          nullable: true
          description: >-
            The firm the round-robin pointer currently selects — send here. Null when the pick is an external-contact
            assignment (no CaseXchange firm).
        roundRobinPosition:
          type: integer
          description: >-
            Opaque echo token — pass this back unchanged as roundRobinPosition (with rule.id as routingRuleId) into POST
            /sent-cases or POST /sent-cases/{id}/refer to advance the rule's round-robin pointer server-side. It is NOT
            an index into the assignments array returned here; to find the rotation's pick, use assignments[0] or match
            selectedFirmId.
        assignments:
          type: array
          description: >-
            The matched rule's active assignments that are eligible for this attempt (inside their attempt window and,
            for /routing/re-refer, not a firm that already holds the case), ordered starting at the round-robin
            selection (then the rest of the configured order, wrapping). assignments[0] is always the rotation's pick —
            the same firm as selectedFirmId when the pick is a CaseXchange firm. When the pick is an external-contact
            assignment, assignments[0].firmId (and selectedFirmId) are null — callers that send to assignments[0] must
            treat a null firmId as "no auto-routable firm" and fall back to manual selection. The order changes between
            calls as the pointer advances; do not rely on positional stability except that index 0 is the current pick.
          items:
            type: object
            properties:
              firmId:
                type: string
                format: uuid
                nullable: true
              firmName:
                type: string
                nullable: true
              referralInstructions:
                type: string
                nullable: true
    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer
    MedCase:
      type: object
      properties:
        id:
          type: string
          format: uuid
        referenceNumber:
          type: string
          nullable: true
        patientFirstName:
          type: string
          nullable: true
        patientLastName:
          type: string
          nullable: true
        patientEmail:
          type: string
          format: email
          nullable: true
        patientPhone:
          type: string
          nullable: true
        patientDateOfBirth:
          type: string
          format: date
          nullable: true
        patientZipCode:
          type: string
          nullable: true
        handlingFirmId:
          type: string
          format: uuid
          nullable: true
        attorneyName:
          type: string
          nullable: true
        attorneyPhone:
          type: string
          nullable: true
        attorneyEmail:
          type: string
          format: email
          nullable: true
        description:
          type: string
          nullable: true
        incidentDate:
          type: string
          format: date
          nullable: true
        caseType:
          type: string
          nullable: true
        jurisdiction:
          type: string
          nullable: true
        createdByFirmId:
          type: string
          format: uuid
          nullable: true
        createdByProviderId:
          type: string
          format: uuid
          nullable: true
        baseCaseId:
          type: string
          format: uuid
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    MedCaseCreateRequest:
      type: object
      description: All fields are optional. Provide at minimum patientFirstName and/or patientLastName.
      properties:
        patientFirstName:
          type: string
          maxLength: 255
        patientLastName:
          type: string
          maxLength: 255
        patientEmail:
          type: string
          format: email
          maxLength: 255
        patientPhone:
          type: string
          maxLength: 30
          description: Digits only
        patientDateOfBirth:
          type: string
          format: date
        patientZipCode:
          type: string
          maxLength: 20
        attorneyName:
          type: string
          maxLength: 255
        attorneyPhone:
          type: string
          maxLength: 30
          description: Digits only
        attorneyEmail:
          type: string
          format: email
          maxLength: 255
        description:
          type: string
        incidentDate:
          type: string
          format: date
        caseType:
          type: string
          maxLength: 255
        jurisdiction:
          type: string
          maxLength: 255
    MedCaseUpdateRequest:
      type: object
      description: >-
        Provide at least one field. Only provided fields are updated. Pass `baseCaseId: null` to unlink a previously
        linked CaseXchange case.
      minProperties: 1
      properties:
        patientFirstName:
          type: string
          maxLength: 255
        patientLastName:
          type: string
          maxLength: 255
        patientEmail:
          type: string
          format: email
          maxLength: 255
        patientPhone:
          type: string
          maxLength: 30
          description: Digits only
        patientDateOfBirth:
          type: string
          format: date
        patientZipCode:
          type: string
          maxLength: 20
        attorneyName:
          type: string
          maxLength: 255
        attorneyPhone:
          type: string
          maxLength: 30
          description: Digits only
        attorneyEmail:
          type: string
          format: email
          maxLength: 255
        description:
          type: string
        incidentDate:
          type: string
          format: date
        caseType:
          type: string
          maxLength: 255
        jurisdiction:
          type: string
          maxLength: 255
        baseCaseId:
          type: string
          format: uuid
          nullable: true
    MedReferral:
      type: object
      properties:
        id:
          type: string
          format: uuid
        referenceNumber:
          type: string
          nullable: true
        medCaseId:
          type: string
          format: uuid
        providerId:
          type: string
          format: uuid
          nullable: true
        doctorIds:
          type: array
          items:
            type: string
            format: uuid
          description: Doctor roster (user ids) assigned to the referral.
        locationIds:
          type: array
          items:
            type: string
            format: uuid
          description: Location roster (provider location ids) assigned to the referral.
        parentReferralId:
          type: string
          format: uuid
          nullable: true
        status:
          type: string
          description: MedicalReferralStatus enum value
          enum:
            - draft
            - sent
            - under_review
            - accepted
            - in_treatment
            - treatment_complete
            - closed
            - rejected
            - withdrawn
        notes:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    MedReferralCreateRequest:
      type: object
      required:
        - providerId
      description: >-
        Creates a new referral on the med case. The provider must be in your network (an ACTIVE FirmProviderConnection);
        otherwise the request returns 403.
      properties:
        providerId:
          type: string
          format: uuid
          description: UUID of the provider to refer to (required). Must be in your network.
        doctorIds:
          type: array
          items:
            type: string
            format: uuid
          description: Doctor roster (user ids) to assign to the referral.
        locationIds:
          type: array
          items:
            type: string
            format: uuid
          description: Location roster (provider location ids) to assign to the referral.
        notes:
          type: string
    MedReferralUpdateRequest:
      type: object
      description: >-
        Provide at least one field. Only provided fields are updated. Doctor/location assignment is not writable via
        this endpoint.
      minProperties: 1
      properties:
        providerId:
          type: string
          format: uuid
        notes:
          type: string
    MedInsurance:
      type: object
      properties:
        id:
          type: string
          format: uuid
        medCaseId:
          type: string
          format: uuid
        insuranceCarrier:
          type: string
          nullable: true
        insuranceAddress:
          type: string
          nullable: true
        insurancePhone:
          type: string
          nullable: true
        policyNumber:
          type: string
          nullable: true
        claimNumber:
          type: string
          nullable: true
        adjusterName:
          type: string
          nullable: true
        adjusterPhone:
          type: string
          nullable: true
        adjusterEmail:
          type: string
          nullable: true
        isPrimary:
          type: boolean
        insuranceType:
          type: string
          enum:
            - health
            - auto
            - workers_comp
            - liability
            - other
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    SendMapping:
      type: object
      description: >-
        The active v2 sending profile's mapping for one (sfObjectApiName, sfRecordTypeDevName) pair, consumed by the
        managed package's send LWC (spec §6).
      properties:
        profile:
          type: object
          properties:
            id:
              type: string
              format: uuid
            sfObjectApiName:
              type: string
            sfRecordTypeDevName:
              type: string
              nullable: true
            version:
              type: string
              format: date-time
              description: Observability marker only — the send endpoint re-reads current config server-side.
          required:
            - id
            - sfObjectApiName
            - sfRecordTypeDevName
            - version
        matchKey:
          type: object
          nullable: true
          description: >-
            Discriminated union: {mode:'externalId', fieldName} or {mode:'lookup', lookupField, relatedExternalIdField?,
            useRecordId?} — a lookup match key requires relatedExternalIdField, useRecordId, or both (matching by the
            related record's external-ID field, its Salesforce record ID via CX sync links, or falling back from one to
            the other).
          properties:
            mode:
              type: string
              enum:
                - externalId
                - lookup
            fieldName:
              type: string
            lookupField:
              type: string
            relatedExternalIdField:
              type: string
              description: Optional on a lookup match key when useRecordId is set — one of the two bases is required.
            useRecordId:
              type: boolean
              description: >-
                Match the lookup's related record by its Salesforce record ID (via CX sync links). Optional when
                relatedExternalIdField is set.
        prefill:
          type: array
          items: &ref_10
            type: object
            properties:
              canonicalKey:
                type: string
                example: matter.status
              sfFieldApiName:
                type: string
                example: litify_pm__Matter_Status__c
            required:
              - canonicalKey
              - sfFieldApiName
          description: Fields to prefill on the send form from CaseXchange (toCx / bidirectional links).
        writeback:
          type: array
          items: *ref_10
          description: Fields the org expects written back after send (toSf / bidirectional links).
        sendFields:
          type: array
          items:
            type: object
            properties:
              canonicalKey:
                type: string
              payloadKey:
                type: string
              label:
                type: string
              type:
                type: string
              required:
                type: boolean
              editable:
                type: boolean
              prefillSfFieldApiName:
                type: string
                nullable: true
            required:
              - canonicalKey
              - payloadKey
              - label
              - type
              - required
              - editable
              - prefillSfFieldApiName
          description: The full send-field catalog with prefill values resolved where available.
        resolvers:
          type: object
          description: >-
            Connection-scoped translation tables so the send LWC can resolve prefill values client-side, without a
            second round trip.
          properties:
            valueMaps:
              type: object
              additionalProperties:
                type: object
                additionalProperties:
                  type: string
              description: SF→CX translation entries, keyed by the EXACT sfFieldApiName served in prefill[].
            caseTypeMap:
              type: object
              additionalProperties:
                type: string
              description: CX case-type slug by 15-char-normalized SF record Id (active entries; primary wins).
          required:
            - valueMaps
            - caseTypeMap
      required:
        - profile
        - matchKey
        - prefill
        - writeback
        - sendFields
        - resolvers
    InteractiveSendResult:
      type: object
      description: >-
        Result of a durable, idempotent interactive send/re-refer (spec §7.2). `attempt.state` tells the org client
        where write-back stands: 'writeback_pending' means the bridge fields will be stamped by the writeback job;
        'completed' means they already have been. 'superseded' (terminal, returned on replay) means a later re-refer
        superseded this attempt's referral, so nothing is left to stamp. There is no status-check endpoint: the only
        signal that write-back finished is the bridge fields appearing on the source Salesforce record (typically within
        ~5 minutes). A send that exhausts its retries becomes 'needs_attention' and is paused for an admin WITHOUT
        signalling the org, so clients should treat a still-unstamped record after a timeout as stale rather than poll
        indefinitely.
      properties:
        attempt:
          type: object
          properties:
            id:
              type: string
              format: uuid
            state:
              type: string
              enum:
                - processing
                - writeback_pending
                - completed
                - needs_attention
                - superseded
                - failed
              description: Attempt lifecycle state.
            idempotencyKey:
              type: string
              format: uuid
            replay:
              type: boolean
              description: >-
                True when this response replays a previously processed idempotency key (a genuine retry of the same
                submit) rather than a freshly created send.
          required:
            - id
            - state
            - idempotencyKey
            - replay
        sentCase:
          $ref: "#/components/schemas/SentCase"
      required:
        - attempt
        - sentCase
    WarmTransferAnalytics:
      type: object
      description: >-
        Warm-transfer outcome metrics. A referral counts as an "attempt" when it was marked successful or has an
        unsuccessful reason recorded (typed or free text); referrals with no warm-transfer outcome recorded are excluded
        from every aggregate.
      properties:
        kpis:
          type: object
          properties:
            attempted:
              type: integer
            successful:
              type: integer
            successRate: &ref_11
              type: integer
              nullable: true
              description: Rounded percentage (0–100); null when attempted is 0.
        reasonBreakdown:
          type: array
          description: >-
            Unsuccessful warm transfers grouped by structured reason category (free-text reasons are never aggregated).
            Untyped rows with free text are bucketed as OTHER.
          items:
            type: object
            properties:
              reasonType:
                type: string
                enum:
                  - FIRM_UNABLE_TO_ANSWER
                  - CLIENT_UNABLE_TO_CONTINUE
                  - OTHER
              count:
                type: integer
        byPartnerFirm:
          type: array
          description: Top 10 partner firms by attempts — receiving firms on /analytics/sent, sending firms on /analytics/received.
          items:
            type: object
            properties:
              firmId:
                type: string
                format: uuid
                nullable: true
              firmName:
                type: string
              attempted:
                type: integer
              successful:
                type: integer
              successRate: *ref_11
        trend:
          type: array
          description: Monthly buckets (only months with data), ascending, bucketed on sent date.
          items:
            type: object
            properties:
              month:
                type: string
                example: 2026-08
                description: YYYY-MM in the requested timezone
              attempted:
                type: integer
              successful:
                type: integer
              successRate: *ref_11
    Error: &ref_13
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
          required:
            - code
            - message
        meta: &ref_12
          type: object
          properties:
            requestId:
              type: string
              example: req_f2dbe1d3f6ad4a7bb5b4c9f2
            timestamp:
              type: string
              format: date-time
          required:
            - requestId
            - timestamp
      required:
        - error
        - meta
    CustomFieldValue:
      type: object
      description: A resolved custom field value on a referral.
      properties:
        fieldId:
          type: string
          format: uuid
        fieldName:
          type: string
          description: System name of the field
        displayName:
          type: string
        fieldType:
          type: string
        value:
          type: string
          nullable: true
      required:
        - fieldId
        - fieldName
        - displayName
        - fieldType
        - value
    Referral:
      type: object
      description: >-
        A referral as seen by either party. Referral-level fields only (financials, resolution, workflow) — client and
        case details live on the parent case. When the caller is the receiving firm and the referral is still SENT (not
        yet acknowledged), leadAttorneyName, warmTransferUnsuccessfulReason, warmTransferUnsuccessfulReasonType and
        notes are null and customFields is empty.
      properties:
        id:
          type: string
          format: uuid
        referenceNumber:
          type: string
          nullable: true
          description: System-generated reference (e.g. PREFIX-0001)
        status:
          type: string
          enum:
            - draft
            - sent
            - received
            - under_evaluation
            - investigating
            - signed
            - in_litigation
            - closing
            - won
            - lost
            - closed
            - rejected
            - withdrawn
            - pending_spin_off
          description: The referral's shared status. The legacy 'received' value is reported as 'under_evaluation'.
        closingStatus:
          type: string
          enum:
            - won_settled
            - lost
            - no_longer_pursuing
          nullable: true
        payoutType:
          type: string
          enum:
            - lump_sum
            - structured
            - hybrid
            - other
          nullable: true
        closureReason:
          type: string
          nullable: true
        referringFirmId:
          type: string
          format: uuid
          description: Sending firm
        referentFirmId:
          type: string
          format: uuid
          nullable: true
          description: Receiving firm; null while the referral is a DRAFT
        settlementAmount:
          type: number
          minimum: 0
          maximum: 1000000000
          nullable: true
          description: Final settlement amount in dollars
        attorneyFees:
          type: number
          minimum: 0
          maximum: 1000000000
          nullable: true
          description: Attorney fees in dollars
        projectedSettlementAmount:
          type: number
          minimum: 0
          maximum: 1000000000
          nullable: true
          description: Projected settlement amount in dollars
        estimatedDateOfResolution:
          type: string
          format: date-time
          nullable: true
        estimatedDistributionDate:
          type: string
          format: date-time
          nullable: true
        statuteOfLimitationsExpiration:
          type: string
          format: date-time
          nullable: true
        clientFeeAgreementPercentage: *ref_5
        sendingFirmPercentage: &ref_22
          type: number
          minimum: 0
          maximum: 100
          nullable: true
          description: >-
            Referral fee owed to the sending firm as a WHOLE-NUMBER percent of attorney fees (33.33 = 33.33%). Input
            values strictly between 0 and 1 are rejected as likely fractions; 0 means no fee.
        netFeeToSendingFirm:
          type: number
          nullable: true
          description: >-
            attorneyFees × the sendingFirmPercentage published on this record ÷ 100, rounded to cents. Null when either
            input is missing or zero.
        netFeeToHandlingFirm:
          type: number
          nullable: true
          description: attorneyFees − netFeeToSendingFirm. Null when netFeeToSendingFirm is null.
        resolutionDate:
          type: string
          format: date-time
          nullable: true
          description: >-
            When the outcome was recorded: the most recent transition into CLOSING, or into WON/LOST for legacy
            referrals that never passed through CLOSING.
        closedDate:
          type: string
          format: date-time
          nullable: true
          description: The most recent transition into CLOSED.
        leadAttorneyName:
          type: string
          nullable: true
        warmTransferSuccessful:
          type: boolean
          description: Whether the warm transfer to the receiving firm succeeded.
        warmTransferUnsuccessfulReason:
          type: string
          nullable: true
          description: >-
            Free-text explanation when the warm transfer was unsuccessful. Only populated when
            warmTransferUnsuccessfulReasonType is OTHER. Masked (null) for the receiving firm while the referral is
            still SENT.
        warmTransferUnsuccessfulReasonType:
          type: string
          nullable: true
          enum:
            - FIRM_UNABLE_TO_ANSWER
            - CLIENT_UNABLE_TO_CONTINUE
            - OTHER
          description: >-
            Reason category for an unsuccessful warm transfer. Masked (null) for the receiving firm while the referral
            is still SENT.
        phase:
          type: string
          nullable: true
        notes:
          type: string
          nullable: true
          description: Aggregated referral notes visible to the caller
        isRetainerSigned:
          type: boolean
        customFields:
          type: array
          items:
            $ref: "#/components/schemas/CustomFieldValue"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - referenceNumber
        - status
        - closingStatus
        - payoutType
        - closureReason
        - referringFirmId
        - referentFirmId
        - settlementAmount
        - attorneyFees
        - projectedSettlementAmount
        - estimatedDateOfResolution
        - estimatedDistributionDate
        - statuteOfLimitationsExpiration
        - clientFeeAgreementPercentage
        - sendingFirmPercentage
        - netFeeToSendingFirm
        - netFeeToHandlingFirm
        - resolutionDate
        - closedDate
        - leadAttorneyName
        - warmTransferSuccessful
        - warmTransferUnsuccessfulReason
        - warmTransferUnsuccessfulReasonType
        - phase
        - notes
        - isRetainerSigned
        - customFields
        - createdAt
        - updatedAt
    ReferralStatusUpdate:
      type: object
      description: One entry in the status history both firms share. Sender-private categorization entries are never included.
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum:
            - draft
            - sent
            - received
            - under_evaluation
            - investigating
            - signed
            - in_litigation
            - closing
            - won
            - lost
            - closed
            - rejected
            - withdrawn
            - pending_spin_off
        message:
          type: string
          nullable: true
        source:
          type: string
          enum:
            - manual
            - case_status
            - salesforce
            - smartadvocate
            - system
            - dearlegal
            - api
            - filemaker
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - status
        - message
        - source
        - createdAt
    PublicStatusUpdate:
      type: object
      description: A status update or partner message on a referral, with referral context.
      properties:
        id:
          type: string
          format: uuid
        referralId:
          type: string
          format: uuid
        referenceNumber:
          type: string
          nullable: true
        status:
          type: string
          enum:
            - draft
            - sent
            - received
            - under_evaluation
            - investigating
            - signed
            - in_litigation
            - closing
            - won
            - lost
            - closed
            - rejected
            - withdrawn
            - pending_spin_off
          description: The legacy 'received' value is reported as 'under_evaluation'.
        message:
          type: string
          nullable: true
        isMessage:
          type: boolean
          description: True when the entry is a partner message rather than a status transition
        source:
          type: string
          enum:
            - manual
            - case_status
            - salesforce
            - smartadvocate
            - system
            - dearlegal
            - api
            - filemaker
        createdAt:
          type: string
          format: date-time
        createdByName:
          type: string
          nullable: true
          description: Full name of the user who created the entry; null for system entries
      required:
        - id
        - referralId
        - referenceNumber
        - status
        - message
        - isMessage
        - source
        - createdAt
        - createdByName
    AvailableStatus:
      type: object
      description: One allowed next status transition.
      properties:
        status:
          type: string
          enum:
            - draft
            - sent
            - received
            - under_evaluation
            - investigating
            - signed
            - in_litigation
            - closing
            - won
            - lost
            - closed
            - rejected
            - withdrawn
            - pending_spin_off
        label:
          type: string
          description: Human-readable label for the transition
        requiresReason:
          type: boolean
          description: Present (true) when the transition requires a reason
        requiresClosingStatus:
          type: boolean
          description: Present (true) when the transition requires a closingStatus
      required:
        - status
        - label
    AvailableStatuses:
      type: object
      properties:
        currentStatus:
          type: string
          enum:
            - draft
            - sent
            - received
            - under_evaluation
            - investigating
            - signed
            - in_litigation
            - closing
            - won
            - lost
            - closed
            - rejected
            - withdrawn
            - pending_spin_off
          description: Current status; the legacy 'received' value is reported as 'under_evaluation'.
        party:
          type: string
          enum:
            - sender
            - receiver
          description: The calling firm's role on this referral, which determines the allowed transitions
        availableTransitions:
          type: array
          items:
            $ref: "#/components/schemas/AvailableStatus"
      required:
        - currentStatus
        - party
        - availableTransitions
    MatchCandidate:
      type: object
      description: A referral that matched the supplied client identifiers.
      properties:
        referralId:
          type: string
          format: uuid
        referenceNumber:
          type: string
        matchScore:
          type: number
          minimum: 0
          maximum: 1
          description: Weighted confidence score, capped at 1
        matchedFields:
          type: array
          items:
            type: string
            enum:
              - firstName
              - lastName
              - fullName
              - dateOfBirth
              - email
              - phone
          description: Identifier fields that matched. 'fullName' is added when both names match.
        clientName:
          type: string
        currentStatus:
          type: string
          enum:
            - draft
            - sent
            - received
            - under_evaluation
            - investigating
            - signed
            - in_litigation
            - closing
            - won
            - lost
            - closed
            - rejected
            - withdrawn
            - pending_spin_off
          description: The legacy 'received' value is reported as 'under_evaluation'.
      required:
        - referralId
        - referenceNumber
        - matchScore
        - matchedFields
        - clientName
        - currentStatus
    ReceivedReferralListItem:
      type: object
      description: Lean list row for a referral received by the calling firm.
      properties:
        id:
          type: string
          format: uuid
        referenceNumber:
          type: string
          nullable: true
        cmsId:
          type: string
          nullable: true
          description: >-
            First non-null case-management-system id linked to the referral, in priority order: DearLegal case id, Neos
            intake id, Clio matter id, SmartAdvocate case id, Salesforce intake record id.
        sendingFirmName:
          type: string
          nullable: true
        sendingFirmId:
          type: string
          format: uuid
        status:
          type: string
          enum:
            - draft
            - sent
            - received
            - under_evaluation
            - investigating
            - signed
            - in_litigation
            - closing
            - won
            - lost
            - closed
            - rejected
            - withdrawn
            - pending_spin_off
          description: The legacy 'received' value is reported as 'under_evaluation'.
        closingStatus:
          type: string
          enum:
            - won_settled
            - lost
            - no_longer_pursuing
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        receivingFirmId:
          type: string
          format: uuid
          nullable: true
        receivingFirmName:
          type: string
          nullable: true
        warmTransferSuccessful:
          type: boolean
          description: Whether the warm transfer to the receiving firm succeeded.
        warmTransferUnsuccessfulReason:
          type: string
          nullable: true
          description: >-
            Free-text explanation when the warm transfer was unsuccessful. Only populated when
            warmTransferUnsuccessfulReasonType is OTHER. Masked (null) for the receiving firm while the referral is
            still SENT.
        warmTransferUnsuccessfulReasonType:
          type: string
          nullable: true
          enum:
            - FIRM_UNABLE_TO_ANSWER
            - CLIENT_UNABLE_TO_CONTINUE
            - OTHER
          description: >-
            Reason category for an unsuccessful warm transfer. Masked (null) for the receiving firm while the referral
            is still SENT.
      required:
        - id
        - referenceNumber
        - cmsId
        - sendingFirmName
        - sendingFirmId
        - status
        - closingStatus
        - createdAt
        - updatedAt
        - receivingFirmId
        - receivingFirmName
        - warmTransferSuccessful
        - warmTransferUnsuccessfulReason
        - warmTransferUnsuccessfulReasonType
    FeeProvenance:
      type: object
      description: >-
        Where the effective sending-firm fee percentage came from. `percentage` is the EFFECTIVE value —
        `sendingFirmPercentage` on the referral is the raw send-time stamp and stays null for un-stamped referrals. The
        sending firm's rule schedule itself is never exposed.
      properties:
        kind:
          type: string
          enum:
            - locked
            - estimated
            - pending
            - none
          description: >-
            locked = the referral's stamped send-time snapshot; estimated = read-time resolution against current
            agreements as of the sent date; pending = a resolved fee structure is awaiting outcome facts (see
            missingFacts); none = nothing stamped and nothing resolves.
        resolvedAsOf:
          type: string
          format: date
          nullable: true
          description: Platform date (YYYY-MM-DD) the resolution ran against; null when kind is 'locked'
        percentage:
          type: number
          nullable: true
          description: Effective whole-number percent (33.33 = 33.33%); null for pending/none
        coverageLapsed:
          type: boolean
          description: Present (true) when the matched agreement no longer covers the referral
        missingFacts:
          type: array
          items:
            type: string
            enum:
              - settlement_amount
              - cfa_percentage
              - litigation_phase
              - rate_structure
          description: "Present when kind is 'pending': the outcome facts needed to finalize the percentage"
      required:
        - kind
        - resolvedAsOf
        - percentage
    FeeRuleSnapshot:
      type: object
      description: >-
        Send-time snapshot of the fee rule that stamped sendingFirmPercentage. effectiveFrom / effectiveTo /
        resolvedAsOf are absent on snapshots written before 2026-08-11.
      properties:
        ruleId:
          type: string
          format: uuid
        caseTypeName:
          type: string
          nullable: true
        jurisdictionCode:
          type: string
          nullable: true
        percentage:
          type: number
          nullable: true
          description: Whole-number percent the rule stamped; null when the rule is structure-based
        effectiveFrom:
          type: string
          format: date
        effectiveTo:
          type: string
          format: date
          nullable: true
        resolvedAsOf:
          type: string
          format: date
      required:
        - ruleId
        - caseTypeName
        - jurisdictionCode
        - percentage
    ReceivedReferral:
      type: object
      description: >-
        Full detail of a referral received by the calling firm, with the parent case flattened in. While the referral is
        still SENT (not yet acknowledged) the client PII fields, description, notes, leadAttorneyName,
        warmTransferUnsuccessfulReason and warmTransferUnsuccessfulReasonType are null. An admin-global key sees
        unmasked values.
      properties:
        id:
          type: string
          format: uuid
        baseCaseId:
          type: string
          format: uuid
          description: Parent case id
        referenceNumber:
          type: string
          nullable: true
        cmsId:
          type: string
          nullable: true
          description: >-
            First non-null case-management-system id linked to the referral, in priority order: DearLegal case id, Neos
            intake id, Clio matter id, SmartAdvocate case id, Salesforce intake record id.
        status:
          type: string
          enum:
            - draft
            - sent
            - received
            - under_evaluation
            - investigating
            - signed
            - in_litigation
            - closing
            - won
            - lost
            - closed
            - rejected
            - withdrawn
            - pending_spin_off
          description: The legacy 'received' value is reported as 'under_evaluation'.
        closingStatus:
          type: string
          enum:
            - won_settled
            - lost
            - no_longer_pursuing
          nullable: true
        payoutType:
          type: string
          enum:
            - lump_sum
            - structured
            - hybrid
            - other
          nullable: true
        closureReason:
          type: string
          nullable: true
        sendingFirmId:
          type: string
          format: uuid
        sendingFirmName:
          type: string
          nullable: true
        receivingFirmId:
          type: string
          format: uuid
          nullable: true
        title:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
          description: Masked while SENT
        caseType:
          type: string
          nullable: true
        jurisdiction:
          type: string
          nullable: true
        county:
          type: string
          nullable: true
        clientFirstName:
          type: string
          nullable: true
          description: Masked while SENT
        clientLastName:
          type: string
          nullable: true
          description: Masked while SENT
        clientEmail:
          type: string
          nullable: true
          description: Masked while SENT
        clientPhone:
          type: string
          nullable: true
          description: Masked while SENT
        clientDateOfBirth:
          type: string
          format: date-time
          nullable: true
          description: Masked while SENT
        clientAddress1:
          type: string
          nullable: true
          description: Masked while SENT
        clientAddress2:
          type: string
          nullable: true
          description: Masked while SENT
        clientCity:
          type: string
          nullable: true
          description: Masked while SENT
        clientPostalCode:
          type: string
          nullable: true
          description: Masked while SENT
        incidentDate:
          type: string
          format: date-time
          nullable: true
          description: Masked while SENT
        notes:
          type: string
          nullable: true
          description: Aggregated referral notes visible to the caller. Masked while SENT
        settlementAmount:
          type: number
          minimum: 0
          maximum: 1000000000
          nullable: true
          description: Final settlement amount in dollars
        attorneyFees:
          type: number
          minimum: 0
          maximum: 1000000000
          nullable: true
          description: Attorney fees in dollars
        leadAttorneyName:
          type: string
          nullable: true
          description: Masked while SENT
        warmTransferSuccessful:
          type: boolean
          description: Whether the warm transfer to the receiving firm succeeded.
        warmTransferUnsuccessfulReason:
          type: string
          nullable: true
          description: >-
            Free-text explanation when the warm transfer was unsuccessful. Only populated when
            warmTransferUnsuccessfulReasonType is OTHER. Masked (null) for the receiving firm while the referral is
            still SENT.
        warmTransferUnsuccessfulReasonType:
          type: string
          nullable: true
          enum:
            - FIRM_UNABLE_TO_ANSWER
            - CLIENT_UNABLE_TO_CONTINUE
            - OTHER
          description: >-
            Reason category for an unsuccessful warm transfer. Masked (null) for the receiving firm while the referral
            is still SENT.
        clientFeeAgreementPercentage: *ref_5
        sendingFirmPercentage:
          type: number
          minimum: 0
          maximum: 100
          nullable: true
          description: >-
            Referral fee owed to the sending firm as a WHOLE-NUMBER percent of attorney fees (33.33 = 33.33%). Input
            values strictly between 0 and 1 are rejected as likely fractions; 0 means no fee. This is the RAW send-time
            stamp and stays null for un-stamped referrals — read feeProvenance.percentage for the effective value.
        netFeeToSendingFirm:
          type: number
          nullable: true
          description: >-
            attorneyFees × the sendingFirmPercentage published on this record ÷ 100, rounded to cents. Null when either
            input is missing or zero.
        netFeeToHandlingFirm:
          type: number
          nullable: true
          description: attorneyFees − netFeeToSendingFirm. Null when netFeeToSendingFirm is null.
        resolutionDate:
          type: string
          format: date-time
          nullable: true
          description: >-
            When the outcome was recorded: the most recent transition into CLOSING, or into WON/LOST for legacy
            referrals that never passed through CLOSING.
        closedDate:
          type: string
          format: date-time
          nullable: true
          description: The most recent transition into CLOSED.
        sendingFirmPercentageSource:
          type: string
          enum:
            - manual
            - rule
            - relationship_default
            - platform_default
            - integration
            - inherited
          nullable: true
          description: How sendingFirmPercentage was stamped
        sendingFirmFeeRuleSnapshot:
          allOf:
            - $ref: "#/components/schemas/FeeRuleSnapshot"
          nullable: true
        feeProvenance:
          $ref: "#/components/schemas/FeeProvenance"
        projectedSettlementAmount:
          type: number
          minimum: 0
          maximum: 1000000000
          nullable: true
          description: Projected settlement amount in dollars
        estimatedDateOfResolution:
          type: string
          format: date-time
          nullable: true
        estimatedDistributionDate:
          type: string
          format: date-time
          nullable: true
        statuteOfLimitationsExpiration:
          type: string
          format: date-time
          nullable: true
        phase:
          type: string
          nullable: true
        isRetainerSigned:
          type: boolean
        customFields:
          type: array
          items:
            $ref: "#/components/schemas/CustomFieldValue"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - baseCaseId
        - referenceNumber
        - cmsId
        - status
        - closingStatus
        - payoutType
        - closureReason
        - sendingFirmId
        - sendingFirmName
        - receivingFirmId
        - title
        - description
        - caseType
        - jurisdiction
        - county
        - clientFirstName
        - clientLastName
        - clientEmail
        - clientPhone
        - clientDateOfBirth
        - clientAddress1
        - clientAddress2
        - clientCity
        - clientPostalCode
        - incidentDate
        - notes
        - settlementAmount
        - attorneyFees
        - leadAttorneyName
        - warmTransferSuccessful
        - warmTransferUnsuccessfulReason
        - warmTransferUnsuccessfulReasonType
        - clientFeeAgreementPercentage
        - sendingFirmPercentage
        - netFeeToSendingFirm
        - netFeeToHandlingFirm
        - resolutionDate
        - closedDate
        - sendingFirmPercentageSource
        - sendingFirmFeeRuleSnapshot
        - feeProvenance
        - projectedSettlementAmount
        - estimatedDateOfResolution
        - estimatedDistributionDate
        - statuteOfLimitationsExpiration
        - phase
        - isRetainerSigned
        - customFields
        - createdAt
        - updatedAt
    WebhookSubscription:
      type: object
      properties:
        id:
          type: string
          format: uuid
        url:
          type: string
          format: uri
          description: >-
            Delivery URL. While echo mode is enabled this is the CaseXchange echo URL and the original target is
            preserved in `originalUrl`.
        description:
          type: string
          nullable: true
        isActive:
          type: boolean
        isEchoActive:
          type: boolean
          description: True while echo mode is enabled
        originalUrl:
          type: string
          format: uri
          nullable: true
          description: The subscriber-provided URL saved while echo mode is enabled; null otherwise
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - url
        - description
        - isActive
        - isEchoActive
        - originalUrl
        - createdAt
        - updatedAt
    WebhookSubscriptionWithSecret:
      allOf:
        - $ref: "#/components/schemas/WebhookSubscription"
        - type: object
          properties:
            secret:
              type: string
              description: >-
                HMAC signing secret. Returned ONLY from create and rotate-secret — it is never readable again; store it
                immediately.
          required:
            - secret
    WebhookDelivery:
      type: object
      properties:
        id:
          type: string
          format: uuid
        eventType:
          type: string
          enum:
            - webhook.test
            - case.created
            - case.updated
            - case.archived
            - referral.sent
            - appointment.created
            - appointment.updated
            - appointment.deleted
            - billing.created
            - billing.updated
            - billing.deleted
            - diagnosis.created
            - diagnosis.updated
            - diagnosis.deleted
            - document.uploaded
            - document.deleted
            - injury.created
            - injury.updated
            - injury.deleted
            - insurance.created
            - insurance.updated
            - insurance.deleted
            - note.created
            - note.updated
            - note.deleted
            - prescription.created
            - prescription.updated
            - prescription.deleted
          description: Event name (see the Webhooks tag)
        eventId:
          type: string
          format: uuid
        status:
          type: string
          enum:
            - PENDING
            - IN_PROGRESS
            - DELIVERED
            - FAILED
            - EXHAUSTED
          description: EXHAUSTED means all 5 attempts failed and no further retries are scheduled
        attempts:
          type: integer
          minimum: 0
        lastStatusCode:
          type: integer
          nullable: true
          description: HTTP status from the most recent attempt
        lastError:
          type: string
          nullable: true
        deliveredAt:
          type: string
          format: date-time
          nullable: true
        nextRetryAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - eventType
        - eventId
        - status
        - attempts
        - lastStatusCode
        - lastError
        - deliveredAt
        - nextRetryAt
        - createdAt
    WebhookEchoCapture:
      type: object
      properties:
        id:
          type: string
          format: uuid
        subscriptionId:
          type: string
          format: uuid
        headers:
          type: object
          additionalProperties:
            type: string
          description: Request headers CaseXchange sent to the echo endpoint
        body:
          type: object
          additionalProperties: true
          description: Parsed JSON payload
        rawBody:
          type: string
          description: Exact bytes that were signed
        signatureValid:
          type: boolean
        signatureDetails:
          type: object
          properties:
            received:
              type: string
              description: The X-CaseXchange-Signature header value
            timestamp:
              type: integer
              description: Unix timestamp (seconds) taken from the signature
            match:
              type: boolean
          required:
            - received
            - timestamp
            - match
        receivedAt:
          type: string
          format: date-time
      required:
        - id
        - subscriptionId
        - headers
        - body
        - rawBody
        - signatureValid
        - signatureDetails
        - receivedAt
    WebhookEchoEnableResult:
      type: object
      properties:
        echoUrl:
          type: string
          format: uri
          description: CaseXchange-hosted URL the subscription now delivers to
        echoToken:
          type: string
          description: Opaque token embedded in the echo URL
      required:
        - echoUrl
        - echoToken
    NetworkRelationship:
      type: object
      properties:
        description:
          type: string
          nullable: true
        sendingPercentage:
          type: number
          nullable: true
          description: Referral fee percentage as a whole percent (33.33 means 33.33%)
        daysForUnderEvaluation:
          type: integer
          nullable: true
        daysForInvestigating:
          type: integer
          nullable: true
        referralInstructions:
          type: string
          nullable: true
      required:
        - description
        - sendingPercentage
        - daysForUnderEvaluation
        - daysForInvestigating
        - referralInstructions
    NetworkFirmDetail:
      type: object
      properties:
        firmId:
          type: string
          format: uuid
        firmName:
          type: string
        jurisdictions:
          type: array
          items:
            type: string
        caseTypes:
          type: array
          items:
            type: string
          description: Display names of the firm's active, MVP-supported specialties
        inNetwork:
          type: boolean
          description: True when a relationship exists in this direction
        generalReferralInstructions:
          type: string
          nullable: true
          description: "The firm's general referral instructions. Only present when there is no relationship (`inNetwork: false`)."
        relationship:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/NetworkRelationship"
          description: Null when no relationship exists in this direction
      required:
        - firmId
        - firmName
        - jurisdictions
        - caseTypes
        - inNetwork
        - relationship
    PendingRelationship:
      type: object
      properties:
        firmId:
          type: string
          format: uuid
          description: The other firm in the pending relationship
        firmName:
          type: string
        requestedDate:
          type: string
          format: date-time
        direction:
          type: string
          enum:
            - inbound
            - outbound
          description: >-
            `outbound`: you requested and are awaiting their acceptance. `inbound`: they requested and are awaiting
            yours.
      required:
        - firmId
        - firmName
        - requestedDate
        - direction
    ExternalCaseLink:
      type: object
      properties:
        id:
          type: string
          format: uuid
        referralId:
          type: string
          format: uuid
        externalSystem:
          type: string
          enum: &ref_38
            - cloudlex
            - morgan_morgan
        externalId:
          type: string
          maxLength: 255
        externalUrl:
          type: string
          format: uri
          nullable: true
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - referralId
        - externalSystem
        - externalId
        - externalUrl
        - createdAt
    ExternalCaseLinkLookup:
      allOf:
        - $ref: "#/components/schemas/ExternalCaseLink"
        - type: object
          properties:
            referral:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                referenceNumber:
                  type: string
                  nullable: true
                currentStatus:
                  type: string
                  description: CaseStatus enum value. `received` is normalised to `under_evaluation`.
                validNextStatuses:
                  type: array
                  items:
                    type: string
                  description: Statuses the calling firm (as sender or receiver) may transition the referral to
                canBeginClosing:
                  type: boolean
                  description: Receiver may move the referral into `closing`
                canClose:
                  type: boolean
                  description: Receiver may move the referral from `closing` to `closed`
                settlementAmount:
                  type: number
                  nullable: true
                clientFeeAgreementPercentage:
                  type: number
                  nullable: true
                  description: 0–1 fraction
                attorneyFees:
                  type: number
                  nullable: true
                closingStatus:
                  type: string
                  nullable: true
                  enum:
                    - won_settled
                    - lost
                    - no_longer_pursuing
                    - null
              required:
                - id
                - referenceNumber
                - currentStatus
                - validNextStatuses
                - canBeginClosing
                - canClose
                - settlementAmount
                - clientFeeAgreementPercentage
                - attorneyFees
                - closingStatus
          required:
            - referral
    Me:
      type: object
      properties:
        firmId:
          type: string
          format: uuid
        firmName:
          type: string
        tier:
          type: string
          enum:
            - READ_ONLY
            - STANDARD
            - FULL
          description: Access tier of the calling key
        keyName:
          type: string
        authMethod:
          type: string
          enum:
            - public_api_key
            - sf_token
          description: "How the request was authenticated: a public API key or a Salesforce-issued token"
      required:
        - firmId
        - firmName
        - tier
        - keyName
        - authMethod
    SsoLink:
      type: object
      properties:
        url:
          type: string
          format: uri
          description: Single-use redemption URL. The raw token is in the path; only its SHA-256 hash is stored.
        expiresAt:
          type: string
          format: date-time
          description: Roughly 60 seconds after minting
      required:
        - url
        - expiresAt
    RateLimitPair:
      type: object
      properties:
        get:
          type: integer
          description: GET requests allowed per window
        write:
          type: integer
          description: Write (non-GET) requests allowed per window; 0 means writes are refused
      required:
        - get
        - write
    HealthStatus:
      type: object
      properties:
        status:
          type: string
          enum:
            - ok
        timestamp:
          type: string
          format: date-time
        rateLimits:
          type: object
          properties:
            windowSeconds:
              type: integer
              example: 60
            tiers:
              type: object
              properties:
                read_only:
                  $ref: "#/components/schemas/RateLimitPair"
                standard:
                  $ref: "#/components/schemas/RateLimitPair"
                full:
                  $ref: "#/components/schemas/RateLimitPair"
              required:
                - read_only
                - standard
                - full
            firmAggregate:
              allOf:
                - $ref: "#/components/schemas/RateLimitPair"
              description: Cap shared by every key belonging to the same firm
          required:
            - windowSeconds
            - tiers
            - firmAggregate
      required:
        - status
        - timestamp
        - rateLimits
      example:
        status: ok
        timestamp: "2026-09-04T12:00:00.000Z"
        rateLimits:
          windowSeconds: 60
          tiers:
            read_only:
              get: 500
              write: 0
            standard:
              get: 300
              write: 100
            full:
              get: 300
              write: 100
          firmAggregate:
            get: 1000
            write: 200
paths:
  /referrals:
    get:
      operationId: listReferrals
      summary: List referrals
      description: >-
        Paginated list of referrals where the caller's firm is either the sending or receiving firm, newest first.
        Archived referrals are excluded. The status filter is symmetric across both directions because a referral's
        status is the truth both firms share.
      tags: &ref_15
        - Referrals
      security: &ref_16
        - apiKeyAuth: []
      x-access-tier: read_only
      parameters:
        - &ref_30
          in: query
          name: page
          schema:
            type: integer
            default: 1
            minimum: 1
          description: Page number (1-indexed)
        - &ref_31
          in: query
          name: limit
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
          description: Results per page (max 100)
        - &ref_32
          in: query
          name: status
          schema:
            type: string
            enum:
              - draft
              - sent
              - received
              - under_evaluation
              - investigating
              - signed
              - in_litigation
              - closing
              - won
              - lost
              - closed
              - rejected
              - withdrawn
              - pending_spin_off
          description: >-
            Filter by CaseStatus. 'terminated' and 'exhausted' are rejected with 400: they are the sending firm's
            private categorization of a rejected referral, not referral statuses.
      responses:
        "200":
          description: Paginated list of referrals
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Referral"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
                  meta: *ref_12
                required:
                  - data
                  - pagination
                  - meta
        "400": &ref_17
          description: Request validation failed
          content: &ref_14
            application/json:
              schema: *ref_13
        "401": &ref_18
          description: Invalid or missing API key
          content: *ref_14
        "403": &ref_19
          description: API key tier does not permit this action
          content: *ref_14
  /referrals/match:
    post:
      operationId: matchReferrals
      summary: Find referrals by client identifiers
      description: >-
        Searches the caller's firm's referrals for clients matching the supplied identifiers and returns ranked
        candidates with a confidence score and the fields that matched. At least one identifier is required. Requires
        STANDARD tier (POST requests are rate-classified as writes even though this is a search). Note: the response
        body is `{ candidates, meta }` — the candidate array is not nested under `data`.
      tags: *ref_15
      security: *ref_16
      x-access-tier: standard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - identifiers
              additionalProperties: false
              properties:
                identifiers:
                  type: object
                  additionalProperties: false
                  description: At least one identifier must be provided
                  properties:
                    firstName:
                      type: string
                      minLength: 1
                      maxLength: 100
                    lastName:
                      type: string
                      minLength: 1
                      maxLength: 100
                    dateOfBirth:
                      type: string
                      format: date
                      description: YYYY-MM-DD
                    email:
                      type: string
                      format: email
                      maxLength: 254
                    phone:
                      type: string
                      minLength: 7
                      maxLength: 40
                      description: Compared after normalizing to digits
      responses:
        "200":
          description: Ranked match candidates (best first)
          content:
            application/json:
              schema:
                type: object
                properties:
                  candidates:
                    type: array
                    items:
                      $ref: "#/components/schemas/MatchCandidate"
                  meta: *ref_12
                required:
                  - candidates
                  - meta
        "400": *ref_17
        "401": *ref_18
        "403": *ref_19
  /referrals/{id}/status-history:
    get:
      operationId: getReferralStatusHistory
      summary: Get referral status history
      description: >-
        Returns the status-history entries both firms share for a referral, newest first. The sending firm's private
        categorization entries are never included.
      tags: *ref_15
      security: *ref_16
      x-access-tier: read_only
      parameters:
        - &ref_20
          in: path
          name: id
          required: true
          schema: &ref_39
            type: string
            format: uuid
          description: Resource UUID
      responses:
        "200":
          description: Status history
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ReferralStatusUpdate"
                  meta: *ref_12
                required:
                  - data
                  - meta
        "400": *ref_17
        "401": *ref_18
        "403": *ref_19
        "404": &ref_21
          description: Resource not found
          content: *ref_14
  /referrals/{id}/available-statuses:
    get:
      operationId: getReferralAvailableStatuses
      summary: Get available status transitions
      description: >-
        Returns the next status transitions the caller's firm may perform on this referral, based on whether the firm is
        the sender or the receiver.
      tags: *ref_15
      security: *ref_16
      x-access-tier: read_only
      parameters:
        - *ref_20
      responses:
        "200":
          description: Available transitions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AvailableStatuses"
                  meta: *ref_12
                required:
                  - data
                  - meta
        "400": *ref_17
        "401": *ref_18
        "403": *ref_19
        "404": *ref_21
  /referrals/{id}:
    get:
      operationId: getReferral
      summary: Get referral by ID
      description: Returns a single referral by UUID. The caller's firm must be the sending or receiving firm; otherwise 404.
      tags: *ref_15
      security: *ref_16
      x-access-tier: read_only
      parameters:
        - *ref_20
      responses:
        "200":
          description: Referral record
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Referral"
                  meta: *ref_12
                required:
                  - data
                  - meta
        "400": *ref_17
        "401": *ref_18
        "403": *ref_19
        "404": *ref_21
    put:
      operationId: updateReferral
      summary: Update a referral
      description: >-
        Updates editable referral-level fields. Unknown fields are rejected and at least one field must be provided.
        Which fields a firm may edit depends on its role and the referral status (for example, the sending firm may only
        edit notes while the referral is DRAFT, SENT, REJECTED or WITHDRAWN; custom fields are receiver-only after
        signing); disallowed edits return 403. When both are supplied, attorneyFees must not exceed settlementAmount.
        Requires STANDARD tier.
      tags: *ref_15
      security: *ref_16
      x-access-tier: standard
      parameters:
        - *ref_20
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              minProperties: 1
              properties:
                notes:
                  type: string
                  maxLength: 10000
                  nullable: true
                leadAttorneyName:
                  type: string
                  maxLength: 500
                  nullable: true
                statuteOfLimitationsExpiration:
                  type: string
                  format: date
                  nullable: true
                  description: YYYY-MM-DD
                clientFeeAgreementPercentage: *ref_5
                attorneyFees:
                  type: number
                  minimum: 0
                  maximum: 1000000000
                  nullable: true
                  description: Attorney fees in dollars
                estimatedDateOfResolution:
                  type: string
                  format: date
                  nullable: true
                  description: YYYY-MM-DD
                estimatedDistributionDate:
                  type: string
                  format: date
                  nullable: true
                  description: YYYY-MM-DD
                projectedSettlementAmount:
                  type: number
                  minimum: 0
                  maximum: 1000000000
                  nullable: true
                  description: Projected settlement amount in dollars
                phase:
                  type: string
                  maxLength: 200
                  nullable: true
                sendingFirmPercentage: *ref_22
[...]
